Repository openstack/openstack-helm-images: changes, and which Zuul jobs are due for each by the changed paths.
All: openstack-helm-images-build-alerta, openstack-helm-images-upload-alerta, openstack-helm-images-alerta, openstack-helm-images-aio-monitoring-alerta, openstack-helm-images-ceph-config-helper-suse_15, openstack-helm-images-ceph-config-helper-ubuntu_xenial, openstack-helm-images-ceph-daemon-ubuntu_xenial, openstack-helm-images-build-libvirt, openstack-helm-images-upload-libvirt, openstack-helm-images-promote-libvirt, openstack-helm-images-mariadb-ubuntu_xenial, openstack-helm-images-build-openstack-loci-master-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-master-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-master-ubuntu_bionic, openstack-helm-images-build-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-build-openstack-loci-train-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-train-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-train-ubuntu_bionic, openstack-helm-images-build-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-openvswitch-debian, openstack-helm-images-openvswitch-suse_15, openstack-helm-images-tempest-ubuntu_xenial, publish-openstack-helm-images-tempest-ubuntu_xenial, openstack-helm-images-vbmc-centos_7, openstack-helm-images-vbmc-suse_15, publish-openstack-helm-images-vbmc-centos_7, publish-openstack-helm-images-vbmc-suse_15

openstack-helm-images-build-alerta:
  parent: openstack-helm-images-build
  description: Build Alerta image
  vars:
    currentdate: '{{ now(utc=True,fmt=''%Y%m%d'') }}'
    docker_images:
    - context: alerta
      repository: openstackhelm/alerta
      dockerfile: Dockerfile
      tags:
      - 8.0.2

openstack-helm-images-upload-alerta:
  parent: openstack-helm-images-upload
  description: Build and upload Alerta image
  vars:
    currentdate: '{{ now(utc=True,fmt=''%Y%m%d'') }}'
    docker_images:
    - context: alerta
      repository: openstackhelm/alerta
      dockerfile: Dockerfile
      tags:
      - 8.0.2

openstack-helm-images-alerta:
  parent: openstack-helm-images-promote
  description: Build Alerta image.
  vars:
    currentdate: '{{ now(utc=True,fmt=''%Y%m%d'') }}'
    docker_images:
    - context: alerta
      repository: openstackhelm/alerta
      dockerfile: Dockerfile
      tags:
      - 8.0.2

openstack-helm-images-aio-monitoring-alerta:
  parent: openstack-helm-infra-aio-monitoring
  dependencies:
  - name: openstack-helm-images-upload-alerta
  description: Deploy aio monitoring with Alerta image
  vars:
    currentdate: '{{ now(utc=True,fmt=''%Y%m%d'') }}'
    docker_images:
    - context: alerta
      repository: openstackhelm/alerta
  ...

openstack-helm-images-ceph-config-helper-suse_15:
  parent: openstack-helm-images-ceph-config-helper
  vars:
    distro: suse_15

openstack-helm-images-ceph-config-helper-ubuntu_xenial:
  parent: openstack-helm-images-ceph-config-helper
  vars:
    distro: ubuntu_xenial

openstack-helm-images-ceph-daemon-ubuntu_xenial:
  parent: openstack-helm-images-ceph-daemon
  vars:
    distro: ubuntu_xenial

openstack-helm-images-build-libvirt:
  parent: openstack-helm-images-build
  description: Build libvirt images
  vars:
    docker_images:
    - context: libvirt
      repository: openstackhelm/libvirt
      tags:
      - opensuse_15-latest
      dockerfile: Dockerfile.suse_15
    - context: libvirt
      repository: openstackhelm/libvirt
  ...

openstack-helm-images-upload-libvirt:
  parent: openstack-helm-images-upload
  description: Build and upload libvirt images
  vars:
    docker_images:
    - context: libvirt
      repository: openstackhelm/libvirt
      tags:
      - opensuse_15-latest
      dockerfile: Dockerfile.suse_15
    - context: libvirt
      repository: openstackhelm/libvirt
  ...

openstack-helm-images-promote-libvirt:
  parent: openstack-helm-images-promote
  description: Promote a previously published libvirt image to latest.
  vars:
    docker_images:
    - context: libvirt
      repository: openstackhelm/libvirt
      tags:
      - opensuse_15-latest
      dockerfile: Dockerfile.suse_15
    - context: libvirt
  ...

openstack-helm-images-mariadb-ubuntu_xenial:
  parent: openstack-helm-images-mariadb
  vars:
    distro: ubuntu_xenial

openstack-helm-images-openvswitch-debian:
  parent: openstack-helm-images-openvswitch
  vars:
    distro: debian

Add Masakari Monitors Images
  openstack/loci/build.sh
  zuul.d/openstack-loci.yaml
Due: openstack-helm-images-build-openstack-loci-master-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-master-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-master-ubuntu_bionic, openstack-helm-images-build-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-build-openstack-loci-train-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-train-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-train-ubuntu_bionic, openstack-helm-images-build-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial

Add senlin image
  zuul.d/openstack-loci.yaml
Due: openstack-helm-images-build-openstack-loci-master-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-master-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-master-ubuntu_bionic, openstack-helm-images-build-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-build-openstack-loci-train-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-train-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-train-ubuntu_bionic, openstack-helm-images-build-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial

Remove xenial nagios dockerfile and build bionic instead
  nagios/Dockerfile.ubuntu_xenial
  zuul.d/nagios.yaml
Due: none

Change ceph version to 15.2.15 available in repo
  ceph-cephfs-provisioner/Dockerfile.ubuntu_bionic
  ceph-config-helper/Dockerfile.ubuntu_bionic
  ceph-daemon/Dockerfile.ubuntu_bionic
  ceph-rbd-provisioner/Dockerfile.ubuntu_bionic
Due: none

libvirt: add ovmf package
  libvirt/ubuntu-install-libvirt.sh
Due: openstack-helm-images-build-libvirt, openstack-helm-images-upload-libvirt, openstack-helm-images-promote-libvirt

mini-mirror: Upate build distro to bionic
  mini-mirror/build.sh
  mini-mirror/mini-mirror-sources.yaml
Due: none

Update node problem detector image to v0.8.10
  node-problem-detector/Dockerfile.ubuntu_bionic
  node-problem-detector/build.sh
Due: none

mini-mirror: Use no-tty and batch mode for gpg
  mini-mirror/tools/publish_snapshots.sh
Due: none

Fix masakari-monitors issue
  zuul.d/openstack-loci.yaml
Due: openstack-helm-images-build-openstack-loci-master-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-master-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-master-ubuntu_bionic, openstack-helm-images-build-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-build-openstack-loci-train-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-train-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-train-ubuntu_bionic, openstack-helm-images-build-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial

Add neutron vpn profile to install ipsec package
  openstack/loci/build.sh
  zuul.d/openstack-loci.yaml
Due: openstack-helm-images-build-openstack-loci-master-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-master-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-master-ubuntu_bionic, openstack-helm-images-build-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-build-openstack-loci-train-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-train-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-train-ubuntu_bionic, openstack-helm-images-build-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial

Add OpenStack Xena image building
  openstack/loci/build-xena.sh
  zuul.d/openstack-loci.yaml
Due: openstack-helm-images-build-openstack-loci-master-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-master-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-master-ubuntu_bionic, openstack-helm-images-build-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-build-openstack-loci-train-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-train-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-train-ubuntu_bionic, openstack-helm-images-build-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial

Fix gates
  ceph-config-helper/Dockerfile.ubuntu_bionic
  ceph-daemon/Dockerfile.ubuntu_bionic
  mini-mirror/tools/install_aptly.sh
  ospurge/Dockerfile.ubuntu_bionic
Due: none

Comment out train release jobs
  zuul.d/base.yaml
  zuul.d/openstack-loci.yaml
Due: openstack-helm-images-build-openstack-loci-master-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-master-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-master-ubuntu_bionic, openstack-helm-images-build-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-build-openstack-loci-train-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-train-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-train-ubuntu_bionic, openstack-helm-images-build-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial

Add OpenStack Xena image jobs
  zuul.d/base.yaml
  zuul.d/openstack-loci.yaml
Due: openstack-helm-images-build-openstack-loci-master-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-master-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-master-ubuntu_bionic, openstack-helm-images-build-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-build-openstack-loci-train-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-train-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-train-ubuntu_bionic, openstack-helm-images-build-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial

Add ubuntu impish to libvirt images
  libvirt/Dockerfile.ubuntu_impish
  zuul.d/libvirt.yaml
Due: openstack-helm-images-build-libvirt, openstack-helm-images-upload-libvirt, openstack-helm-images-promote-libvirt

/run/sshd must be owned by root and not group or world-writable.
  nova-ssh/Dockerfile.ubuntu_bionic
  nova-ssh/Dockerfile.ubuntu_focal
Due: none

Revert "Add OpenStack Xena image jobs"
  zuul.d/base.yaml
  zuul.d/openstack-loci.yaml
Due: openstack-helm-images-build-openstack-loci-master-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-master-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-master-ubuntu_bionic, openstack-helm-images-build-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-build-openstack-loci-train-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-train-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-train-ubuntu_bionic, openstack-helm-images-build-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial

Revert "Add OpenStack Xena image building"
  openstack/loci/build-xena.sh
  zuul.d/openstack-loci.yaml
Due: openstack-helm-images-build-openstack-loci-master-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-master-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-master-ubuntu_bionic, openstack-helm-images-build-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-build-openstack-loci-train-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-train-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-train-ubuntu_bionic, openstack-helm-images-build-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial

Revert "Add ubuntu impish to libvirt images"
  libvirt/Dockerfile.ubuntu_impish
  zuul.d/libvirt.yaml
Due: openstack-helm-images-build-libvirt, openstack-helm-images-upload-libvirt, openstack-helm-images-promote-libvirt

Remove train jobs as a dependencies since we don't run them currently
  zuul.d/mariadb.yaml
  zuul.d/minikube-aio.yaml
Due: openstack-helm-images-mariadb-ubuntu_xenial

Remove dependency on train jobs
  zuul.d/libvirt.yaml
  zuul.d/nova-ssh.yaml
  zuul.d/openvswitch.yaml
  zuul.d/osh-selenium.yaml
  zuul.d/ospurge.yaml
Due: openstack-helm-images-build-libvirt, openstack-helm-images-upload-libvirt, openstack-helm-images-promote-libvirt, openstack-helm-images-openvswitch-debian, openstack-helm-images-openvswitch-suse_15

Fix wallaby job name and remove obsolete stein job for nova-ssh
  zuul.d/nova-ssh.yaml
  zuul.d/ospurge.yaml
Due: none

Pin k8s python client to 22.6.0
  nagios/Dockerfile.ubuntu_bionic
Due: none

Update define-nagios-hosts.py error handling
  nagios/plugins/define-nagios-hosts.py
Due: none

Add ubuntu focal image for tempest
  tempest/Dockerfile.ubuntu_focal
  zuul.d/tempest.yaml
Due: openstack-helm-images-tempest-ubuntu_xenial, publish-openstack-helm-images-tempest-ubuntu_xenial

Update horizon job to wallaby/focal
  zuul.d/base.yaml
  zuul.d/minikube-aio.yaml
Due: none

Remove usage of ubuntu xenial
  Makefile
  README_MAKEFILE
  libvirt/build.sh
  nova-ssh/build.sh
  openstack/loci/build.sh
  tempest/Dockerfile.ubuntu_xenial
  tempest/build.sh
Due: openstack-helm-images-build-libvirt, openstack-helm-images-upload-libvirt, openstack-helm-images-promote-libvirt, openstack-helm-images-build-openstack-loci-master-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-master-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-master-ubuntu_bionic, openstack-helm-images-build-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-build-openstack-loci-train-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-train-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-train-ubuntu_bionic, openstack-helm-images-build-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-tempest-ubuntu_xenial, publish-openstack-helm-images-tempest-ubuntu_xenial

Remove train image building and jobs
  openstack/loci/build-train.sh
  zuul.d/base.yaml
  zuul.d/libvirt.yaml
  zuul.d/mariadb.yaml
  zuul.d/openstack-loci.yaml
  zuul.d/openvswitch.yaml
  zuul.d/osh-selenium.yaml
Due: openstack-helm-images-build-libvirt, openstack-helm-images-upload-libvirt, openstack-helm-images-promote-libvirt, openstack-helm-images-mariadb-ubuntu_xenial, openstack-helm-images-build-openstack-loci-master-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-master-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-master-ubuntu_bionic, openstack-helm-images-build-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-build-openstack-loci-train-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-train-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-train-ubuntu_bionic, openstack-helm-images-build-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-openvswitch-debian, openstack-helm-images-openvswitch-suse_15

Remove heat-dashboard from default image building
  zuul.d/openstack-loci.yaml
Due: openstack-helm-images-build-openstack-loci-master-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-master-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-master-ubuntu_bionic, openstack-helm-images-build-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-build-openstack-loci-train-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-train-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-train-ubuntu_bionic, openstack-helm-images-build-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial

Add OpenStack Xena and Yoga image building
  openstack/loci/build-xena.sh
  openstack/loci/build-yoga.sh
  openstack/loci/build.sh
  zuul.d/openstack-loci.yaml
Due: openstack-helm-images-build-openstack-loci-master-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-master-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-master-ubuntu_bionic, openstack-helm-images-build-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-build-openstack-loci-train-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-train-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-train-ubuntu_bionic, openstack-helm-images-build-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial

Remove minikube-aio image building/jobs
  minikube-aio/Dockerfile
  minikube-aio/images.txt
  minikube-aio/install.sh
  minikube-aio/sources.list
  zuul.d/base.yaml
  zuul.d/minikube-aio.yaml
Due: none

loci/nova: add net-tools package
  zuul.d/openstack-loci.yaml
Due: openstack-helm-images-build-openstack-loci-master-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-master-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-master-ubuntu_bionic, openstack-helm-images-build-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-build-openstack-loci-train-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-train-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-train-ubuntu_bionic, openstack-helm-images-build-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial

Update Ceph version to Pacific 16.2.9
  ceph-cephfs-provisioner/Dockerfile.ubuntu_bionic
  ceph-config-helper/Dockerfile.ubuntu_bionic
  ceph-daemon/Dockerfile.ubuntu_bionic
  ceph-rbd-provisioner/Dockerfile.ubuntu_bionic
  libvirt/Dockerfile.ubuntu_bionic
  libvirt/Dockerfile.ubuntu_focal
  zuul.d/playbooks/Dockerfile_base
Due: openstack-helm-images-build-libvirt, openstack-helm-images-upload-libvirt, openstack-helm-images-promote-libvirt

Remove mini-mirror image building
  mini-mirror/Dockerfile.ubuntu_bionic
  mini-mirror/README.rst
  mini-mirror/build.sh
  mini-mirror/etc/aptly.conf
  mini-mirror/mini-mirror-sources.yaml
  mini-mirror/tools/install_aptly.sh
  mini-mirror/tools/publish_snapshots.sh
  zuul.d/mini-mirror.yaml
Due: none

Libvirt: Add Bullseye and remove SUSE dockerfiles
  libvirt/Dockerfile.debian_bullseye
  libvirt/Dockerfile.suse_15
  libvirt/suse_leap15_virtualization_repo.key
  libvirt/suse_sle15_ceph_repo.key
  zuul.d/libvirt.yaml
Due: openstack-helm-images-build-libvirt, openstack-helm-images-upload-libvirt, openstack-helm-images-promote-libvirt

Add Xena and Yoga jobs to osh-images
  zuul.d/base.yaml
Due: none

Clean up older tempest distro releases
  tempest/Cloud:OpenStack:Master-openSUSE_Leap_15.0.gpgkey
  tempest/Dockerfile.opensuse_15
  tempest/Dockerfile.ubuntu_bionic
  zuul.d/tempest.yaml
Due: openstack-helm-images-tempest-ubuntu_xenial, publish-openstack-helm-images-tempest-ubuntu_xenial

Remove ansible version pin at 2.8
  zuul.d/base.yaml
Due: none

Disable X & Y release jobs temporarily
  zuul.d/base.yaml
  zuul.d/openstack-loci.yaml
Due: openstack-helm-images-build-openstack-loci-master-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-master-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-master-ubuntu_bionic, openstack-helm-images-build-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-build-openstack-loci-train-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-train-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-train-ubuntu_bionic, openstack-helm-images-build-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial

Update ceph version to 16.2.10
  ceph-cephfs-provisioner/Dockerfile.ubuntu_bionic
  ceph-config-helper/Dockerfile.ubuntu_bionic
  ceph-daemon/Dockerfile.ubuntu_bionic
  ceph-rbd-provisioner/Dockerfile.ubuntu_bionic
Due: none

Path conditions:
  openstack-helm-images-build-alerta: any of: alerta/.*, zuul.d/alerta.yaml
  openstack-helm-images-upload-alerta: any of: alerta/.*, zuul.d/alerta.yaml
  openstack-helm-images-alerta: any of: alerta/.*, zuul.d/alerta.yaml
  openstack-helm-images-aio-monitoring-alerta: any of: alerta/.*, zuul.d/alerta.yaml
  openstack-helm-images-ceph-config-helper-suse_15: any of: ^ceph-config-helper/build.sh, ^ceph-config-helper/Dockerfile.suse_15$, ^zuul.d/ceph-config-helper.yaml
  openstack-helm-images-ceph-config-helper-ubuntu_xenial: any of: ^ceph-config-helper/build.sh, ^ceph-config-helper/Dockerfile.ubuntu_xenial$, ^zuul.d/ceph-config-helper.yaml
  openstack-helm-images-ceph-daemon-ubuntu_xenial: any of: ^ceph-daemon/build.sh, ^ceph-daemon/Dockerfile.ubuntu_xenial$, ^zuul.d/ceph-daemon.yaml
  openstack-helm-images-build-libvirt: any of: libvirt/.*, zuul.d/libvirt.yaml
  openstack-helm-images-upload-libvirt: any of: libvirt/.*, zuul.d/libvirt.yaml
  openstack-helm-images-promote-libvirt: any of: libvirt/.*, zuul.d/libvirt.yaml
  openstack-helm-images-mariadb-ubuntu_xenial: any of: ^mariadb/build.sh, ^mariadb/Dockerfile.ubuntu_xenial$, ^zuul.d/mariadb.yaml
  openstack-helm-images-build-openstack-loci-master-ubuntu_bionic: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-upload-openstack-loci-master-ubuntu_bionic: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-promote-openstack-loci-master-ubuntu_bionic: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-build-openstack-loci-ussuri-ubuntu_bionic: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-upload-openstack-loci-ussuri-ubuntu_bionic: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-promote-openstack-loci-ussuri-ubuntu_bionic: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-build-openstack-loci-train-ubuntu_bionic: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-upload-openstack-loci-train-ubuntu_bionic: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-promote-openstack-loci-train-ubuntu_bionic: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-build-openstack-loci-stein-ubuntu_bionic: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-upload-openstack-loci-stein-ubuntu_bionic: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-promote-openstack-loci-stein-ubuntu_bionic: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-build-openstack-loci-rocky-ubuntu_bionic: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-upload-openstack-loci-rocky-ubuntu_bionic: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-promote-openstack-loci-rocky-ubuntu_bionic: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-build-openstack-loci-rocky-opensuse_15: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-upload-openstack-loci-rocky-opensuse_15: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-promote-openstack-loci-rocky-opensuse_15: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-openvswitch-debian: any of: ^openvswitch/build.sh, ^openvswitch/Dockerfile.debian$, ^zuul.d/openvswitch.yaml
  openstack-helm-images-openvswitch-suse_15: any of: ^openvswitch/build.sh, ^openvswitch/Dockerfile.suse_15$, ^zuul.d/openvswitch.yaml
  openstack-helm-images-tempest-ubuntu_xenial: any of: ^tempest/build.sh, ^tempest/Dockerfile.ubuntu_xenial$, ^zuul.d/tempest.yaml
  publish-openstack-helm-images-tempest-ubuntu_xenial: any of: ^tempest/build.sh, ^tempest/Dockerfile.ubuntu_xenial$, ^zuul.d/tempest.yaml
  openstack-helm-images-vbmc-centos_7: any of: ^vbmc/build.sh, ^vbmc/Dockerfile.centos_7$, ^zuul.d/vbmc.yaml
  openstack-helm-images-vbmc-suse_15: any of: ^vbmc/Dockerfile.suse_15, ^vbmc/build.sh, ^zuul.d/vbmc.yaml
  publish-openstack-helm-images-vbmc-centos_7: any of: ^vbmc/build.sh, ^vbmc/Dockerfile.centos_7$, ^zuul.d/vbmc.yaml
  publish-openstack-helm-images-vbmc-suse_15: any of: ^vbmc/Dockerfile.suse_15, ^vbmc/build.sh, ^zuul.d/vbmc.yaml
