Repository openstack/openstack-helm-images: changes, and which Zuul jobs are due for each by the changed paths.
All: openstack-helm-images-build-alerta, openstack-helm-images-upload-alerta, openstack-helm-images-alerta, openstack-helm-images-aio-monitoring-alerta, openstack-helm-images-ceph-config-helper-suse_15, openstack-helm-images-ceph-config-helper-ubuntu_xenial, openstack-helm-images-ceph-daemon-ubuntu_xenial, openstack-helm-images-build-libvirt, openstack-helm-images-upload-libvirt, openstack-helm-images-promote-libvirt, openstack-helm-images-mariadb-ubuntu_xenial, openstack-helm-images-build-openstack-loci-master-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-master-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-master-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-build-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-openvswitch-debian, openstack-helm-images-openvswitch-suse_15, openstack-helm-images-tempest-ubuntu_xenial, publish-openstack-helm-images-tempest-ubuntu_xenial, openstack-helm-images-vbmc-centos_7, openstack-helm-images-vbmc-suse_15, publish-openstack-helm-images-vbmc-centos_7, publish-openstack-helm-images-vbmc-suse_15

Path conditions:
  openstack-helm-images-build-alerta: any of: alerta/.*, zuul.d/alerta.yaml
  openstack-helm-images-upload-alerta: any of: alerta/.*, zuul.d/alerta.yaml
  openstack-helm-images-alerta: any of: alerta/.*, zuul.d/alerta.yaml
  openstack-helm-images-aio-monitoring-alerta: any of: alerta/.*, zuul.d/alerta.yaml
  openstack-helm-images-ceph-config-helper-suse_15: any of: ^ceph-config-helper/build.sh, ^ceph-config-helper/Dockerfile.suse_15$, ^zuul.d/ceph-config-helper.yaml
  openstack-helm-images-ceph-config-helper-ubuntu_xenial: any of: ^ceph-config-helper/build.sh, ^ceph-config-helper/Dockerfile.ubuntu_xenial$, ^zuul.d/ceph-config-helper.yaml
  openstack-helm-images-ceph-daemon-ubuntu_xenial: any of: ^ceph-daemon/build.sh, ^ceph-daemon/Dockerfile.ubuntu_xenial$, ^zuul.d/ceph-daemon.yaml
  openstack-helm-images-build-libvirt: any of: libvirt/.*, zuul.d/libvirt.yaml
  openstack-helm-images-upload-libvirt: any of: libvirt/.*, zuul.d/libvirt.yaml
  openstack-helm-images-promote-libvirt: any of: libvirt/.*, zuul.d/libvirt.yaml
  openstack-helm-images-mariadb-ubuntu_xenial: any of: ^mariadb/build.sh, ^mariadb/Dockerfile.ubuntu_xenial$, ^zuul.d/mariadb.yaml
  openstack-helm-images-build-openstack-loci-master-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-upload-openstack-loci-master-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-promote-openstack-loci-master-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-build-openstack-loci-rocky-opensuse_15: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-upload-openstack-loci-rocky-opensuse_15: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-promote-openstack-loci-rocky-opensuse_15: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-build-openstack-loci-newton-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-upload-openstack-loci-newton-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-promote-openstack-loci-newton-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-openvswitch-debian: any of: ^openvswitch/build.sh, ^openvswitch/Dockerfile.debian$, ^zuul.d/openvswitch.yaml
  openstack-helm-images-openvswitch-suse_15: any of: ^openvswitch/build.sh, ^openvswitch/Dockerfile.suse_15$, ^zuul.d/openvswitch.yaml
  openstack-helm-images-tempest-ubuntu_xenial: any of: ^tempest/build.sh, ^tempest/Dockerfile.ubuntu_xenial$, ^zuul.d/tempest.yaml
  publish-openstack-helm-images-tempest-ubuntu_xenial: any of: ^tempest/build.sh, ^tempest/Dockerfile.ubuntu_xenial$, ^zuul.d/tempest.yaml
  openstack-helm-images-vbmc-centos_7: any of: ^vbmc/build.sh, ^vbmc/Dockerfile.centos_7$, ^zuul.d/vbmc.yaml
  openstack-helm-images-vbmc-suse_15: any of: ^vbmc/Dockerfile.suse_15, ^vbmc/build.sh, ^zuul.d/vbmc.yaml
  publish-openstack-helm-images-vbmc-centos_7: any of: ^vbmc/build.sh, ^vbmc/Dockerfile.centos_7$, ^zuul.d/vbmc.yaml
  publish-openstack-helm-images-vbmc-suse_15: any of: ^vbmc/Dockerfile.suse_15, ^vbmc/build.sh, ^zuul.d/vbmc.yaml

Minimize ceph-daemon image size
  ceph-daemon/Dockerfile.ubuntu_bionic
Due: none

Enable Prometheus metrics for placement
  prometheus-openstack-exporter/exporter/check_os_api.py
Due: none

Add Watcher image build
  zuul.d/openstack-loci.yaml
Due: openstack-helm-images-build-openstack-loci-master-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-master-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-master-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-build-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-newton-ubuntu_xenial

Brings back post-review buildset registry based image testing
  zuul.d/base.yaml
  zuul.d/playbooks/_return-image.yml
  zuul.d/playbooks/_write-buildset-registry-cert.yml
  zuul.d/playbooks/build-loci.yml
  zuul.d/playbooks/build.yml
Due: none

Add periodic build/test/promote for images
  zuul.d/alerta.yaml
  zuul.d/base.yaml
  zuul.d/elasticsearch-s3.yaml
  zuul.d/fluentd.yaml
  zuul.d/libvirt.yaml
  zuul.d/mariadb.yaml
  zuul.d/minikube-aio.yaml
  zuul.d/nagios.yaml
  zuul.d/node-problem-detector.yaml
  zuul.d/openstack-loci.yaml
  zuul.d/openvswitch.yaml
  zuul.d/osh-selenium.yaml
  zuul.d/ospurge.yaml
  zuul.d/patroni.yaml
  zuul.d/playbooks/periodic-promote.yml
  zuul.d/playbooks/upload.yml
  zuul.d/prometheus-openstack-exporter.yaml
Due: openstack-helm-images-build-alerta, openstack-helm-images-upload-alerta, openstack-helm-images-alerta, openstack-helm-images-aio-monitoring-alerta, openstack-helm-images-build-libvirt, openstack-helm-images-upload-libvirt, openstack-helm-images-promote-libvirt, openstack-helm-images-mariadb-ubuntu_xenial, openstack-helm-images-build-openstack-loci-master-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-master-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-master-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-build-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-openvswitch-debian, openstack-helm-images-openvswitch-suse_15

Add Alerta plugins
  alerta/Dockerfile
  alerta/alertad.conf
  alerta/install-plugins.sh
  alerta/plugins.txt
Due: openstack-helm-images-build-alerta, openstack-helm-images-upload-alerta, openstack-helm-images-alerta, openstack-helm-images-aio-monitoring-alerta

Remove writing buildset certificate as the same fixed on zuul-jobs side
  zuul.d/playbooks/_write-buildset-registry-cert.yml
  zuul.d/playbooks/build-loci.yml
  zuul.d/playbooks/build.yml
Due: none

[Mariadb] Add pykube-ng to maria
  mariadb/Dockerfile.ubuntu_xenial
Due: openstack-helm-images-mariadb-ubuntu_xenial

Build placement image for Stein
  zuul.d/openstack-loci.yaml
Due: openstack-helm-images-build-openstack-loci-master-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-master-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-master-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-build-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-newton-ubuntu_xenial

Changing the kube version to 1.18.9
  minikube-aio/Dockerfile
  minikube-aio/install.sh
Due: none

Supplement placement profile and pip packages
  openstack/loci/build-train.sh
  openstack/loci/build-ussuri.sh
  openstack/loci/build.sh
Due: openstack-helm-images-build-openstack-loci-master-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-master-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-master-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-build-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-newton-ubuntu_xenial

Nagios: ES plugin update
  nagios/plugins/query_elasticsearch.py
Due: none

Added CentOS libvirt images
  libvirt/Dockerfile.centos_7
  zuul.d/libvirt.yaml
Due: openstack-helm-images-build-libvirt, openstack-helm-images-upload-libvirt, openstack-helm-images-promote-libvirt

[Update] Nagios: Update the Docker file
  nagios/Dockerfile.ubuntu_bionic
  nagios/Dockerfile.ubuntu_xenial
Due: none

Add nova-compute-ssh image
  nova-ssh/Dockerfile.ubuntu_bionic
  nova-ssh/build.sh
  zuul.d/nova-ssh.yaml
Due: none

Add migration profile in nova
  openstack/loci/build.sh
  zuul.d/openstack-loci.yaml
Due: openstack-helm-images-build-openstack-loci-master-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-master-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-master-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-build-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-newton-ubuntu_xenial

Add elasticsearch 7.6 dockerfile to publish job
  zuul.d/elasticsearch-s3.yaml
Due: none

Fix heat-dashboard installation for loci
  zuul.d/openstack-loci.yaml
Due: openstack-helm-images-build-openstack-loci-master-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-master-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-master-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-build-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-newton-ubuntu_xenial

Move stable repo to new location
  minikube-aio/install.sh
Due: none

Roll back to 4.2.9 Ceph
  ceph-cephfs-provisioner/Dockerfile.ubuntu_bionic
  ceph-config-helper/Dockerfile.ubuntu_bionic
  ceph-daemon/Dockerfile.ubuntu_bionic
  ceph-rbd-provisioner/Dockerfile.ubuntu_bionic
  ceph-utility/Dockerfile.ubuntu_bionic
  zuul.d/libvirt.yaml
Due: openstack-helm-images-build-libvirt, openstack-helm-images-upload-libvirt, openstack-helm-images-promote-libvirt

Don't pause image build jobs in periodic buildset
  zuul.d/alerta.yaml
  zuul.d/base.yaml
  zuul.d/elasticsearch-s3.yaml
  zuul.d/fluentd.yaml
  zuul.d/libvirt.yaml
  zuul.d/mariadb.yaml
  zuul.d/minikube-aio.yaml
  zuul.d/nagios.yaml
  zuul.d/node-problem-detector.yaml
  zuul.d/openstack-loci.yaml
  zuul.d/openvswitch.yaml
  zuul.d/osh-selenium.yaml
  zuul.d/ospurge.yaml
  zuul.d/patroni.yaml
  zuul.d/playbooks/build-loci.yml
  zuul.d/playbooks/build.yml
  zuul.d/playbooks/periodic-promote.yml
  zuul.d/prometheus-openstack-exporter.yaml
Due: openstack-helm-images-build-alerta, openstack-helm-images-upload-alerta, openstack-helm-images-alerta, openstack-helm-images-aio-monitoring-alerta, openstack-helm-images-build-libvirt, openstack-helm-images-upload-libvirt, openstack-helm-images-promote-libvirt, openstack-helm-images-mariadb-ubuntu_xenial, openstack-helm-images-build-openstack-loci-master-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-master-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-master-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-build-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-openvswitch-debian, openstack-helm-images-openvswitch-suse_15

Use KEEP_ALL_WHEELS for loci images build
  zuul.d/openstack-loci.yaml
Due: openstack-helm-images-build-openstack-loci-master-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-master-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-master-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-build-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-newton-ubuntu_xenial

Remove xenial tempest build
  zuul.d/tempest.yaml
Due: openstack-helm-images-tempest-ubuntu_xenial, publish-openstack-helm-images-tempest-ubuntu_xenial

Fix promotion in loci periodic jobs for non tested releases
  zuul.d/openstack-loci.yaml
Due: openstack-helm-images-build-openstack-loci-master-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-master-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-master-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-build-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-newton-ubuntu_xenial

Remove unused test jobs for mariadb and ovs in periodic pipeline
  zuul.d/mariadb.yaml
  zuul.d/openstack-loci.yaml
  zuul.d/openvswitch.yaml
Due: openstack-helm-images-mariadb-ubuntu_xenial, openstack-helm-images-build-openstack-loci-master-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-master-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-master-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-build-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-openvswitch-debian, openstack-helm-images-openvswitch-suse_15

[CEPH] Build Octopus based ceph images
  ceph-cephfs-provisioner/Dockerfile.ubuntu_bionic
  ceph-config-helper/Dockerfile.ubuntu_bionic
  ceph-daemon/Dockerfile.ubuntu_bionic
  ceph-rbd-provisioner/Dockerfile.ubuntu_bionic
Due: none

[CEPH] Update ceph repos
  ceph-cephfs-provisioner/Dockerfile.ubuntu_bionic
  ceph-config-helper/Dockerfile.ubuntu_bionic
  ceph-daemon/Dockerfile.ubuntu_bionic
  ceph-rbd-provisioner/Dockerfile.ubuntu_bionic
Due: none

Create build-victoria.sh
  openstack/loci/build-victoria.sh
Due: openstack-helm-images-build-openstack-loci-master-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-master-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-master-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-build-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-newton-ubuntu_xenial

[fluentd] Minor fluentd version change
  fluentd/Dockerfile.debian
Due: none

Use proper pip bootstraping url for xenial
  ceph-config-helper/Dockerfile.ubuntu_xenial
  ceph-daemon/Dockerfile.ubuntu_xenial
Due: openstack-helm-images-ceph-config-helper-ubuntu_xenial, openstack-helm-images-ceph-daemon-ubuntu_xenial

Move upload to dockerhub to run from post-run
  zuul.d/base.yaml
Due: none

Limit pip for nagios xenial image
  nagios/Dockerfile.ubuntu_xenial
Due: none

Fix logic for critical_threshold to match the documentation
  nagios/plugins/query_elasticsearch.py
Due: none

Include additional enviromental variables for use with http endpoint topics
  nagios/scripts/entrypoint.sh
Due: none

Fix ospurge image build
  ospurge/Dockerfile.ubuntu_bionic
Due: none

Remove Alerta from openstack-helm-image repository
  alerta/.env
  alerta/Dockerfile
  alerta/Makefile
  alerta/VERSION
  alerta/alertad.conf
  alerta/build.sh
  alerta/config.json
  alerta/config/alerta.conf.example
  alerta/config/alertad.conf.example
  alerta/config/config.json
  alerta/config/config.json.example
  alerta/docker-entrypoint.sh
  alerta/install-plugins.sh
  alerta/nginx.conf
  alerta/plugins.txt
  alerta/requirements.txt
  alerta/supervisord.conf
  alerta/tests.sh
  alerta/uwsgi.ini
  alerta/wait-for-it.sh
  alerta/wsgi.py
  zuul.d/alerta.yaml
  zuul.d/base.yaml
Due: openstack-helm-images-build-alerta, openstack-helm-images-upload-alerta, openstack-helm-images-alerta, openstack-helm-images-aio-monitoring-alerta

Align mini-mirror Dockerfile args with build.sh
  mini-mirror/Dockerfile.ubuntu_bionic
  mini-mirror/build.sh
Due: none

Add monasca-api image
  openstack/loci/build.sh
  zuul.d/openstack-loci.yaml
Due: openstack-helm-images-build-openstack-loci-master-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-master-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-master-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-build-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-newton-ubuntu_xenial

Change get-pip url
  ceph-config-helper/Dockerfile.ubuntu_xenial
  ceph-daemon/Dockerfile.ubuntu_xenial
Due: openstack-helm-images-ceph-config-helper-ubuntu_xenial, openstack-helm-images-ceph-daemon-ubuntu_xenial
