Repository openstack/openstack-helm-images: changes, and which Zuul jobs are due for each by the changed paths.
All: openstack-helm-images-build-alerta, openstack-helm-images-upload-alerta, openstack-helm-images-alerta, openstack-helm-images-aio-monitoring-alerta, openstack-helm-images-build-calicoctl-utility, openstack-helm-images-upload-calicoctl-utility, openstack-helm-images-promote-calicoctl-utility, openstack-helm-images-ceph-config-helper-suse_15, openstack-helm-images-ceph-config-helper-ubuntu_xenial, openstack-helm-images-ceph-daemon-ubuntu_xenial, openstack-helm-images-build-gate-utils, openstack-helm-images-upload-gate-utils, openstack-helm-images-promote-gate-utils, openstack-helm-images-build-libvirt, openstack-helm-images-upload-libvirt, openstack-helm-images-promote-libvirt, openstack-helm-images-mariadb-ubuntu_xenial, openstack-helm-images-build-openstack-loci-master-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-master-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-master-ubuntu_bionic, openstack-helm-images-build-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-build-openstack-loci-train-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-train-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-train-ubuntu_bionic, openstack-helm-images-build-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-openvswitch-debian, openstack-helm-images-openvswitch-suse_15, openstack-helm-images-build-ovn, openstack-helm-images-upload-ovn, openstack-helm-images-promote-ovn, openstack-helm-images-build-tempest, openstack-helm-images-upload-tempest, openstack-helm-images-promote-tempest, openstack-helm-images-build-vbmc, openstack-helm-images-upload-vbmc, openstack-helm-images-promote-vbmc

openstack-helm-images-build-alerta:
  parent: openstack-helm-images-build
  description: Build Alerta image
  vars:
    currentdate: '{{ now(utc=True,fmt=''%Y%m%d'') }}'
    docker_images:
    - context: alerta
      repository: openstackhelm/alerta
      dockerfile: Dockerfile
      tags:
      - 8.0.2

openstack-helm-images-upload-alerta:
  parent: openstack-helm-images-upload
  description: Build and upload Alerta image
  vars:
    currentdate: '{{ now(utc=True,fmt=''%Y%m%d'') }}'
    docker_images:
    - context: alerta
      repository: openstackhelm/alerta
      dockerfile: Dockerfile
      tags:
      - 8.0.2

openstack-helm-images-alerta:
  parent: openstack-helm-images-promote
  description: Build Alerta image.
  vars:
    currentdate: '{{ now(utc=True,fmt=''%Y%m%d'') }}'
    docker_images:
    - context: alerta
      repository: openstackhelm/alerta
      dockerfile: Dockerfile
      tags:
      - 8.0.2

openstack-helm-images-aio-monitoring-alerta:
  parent: openstack-helm-infra-aio-monitoring
  dependencies:
  - name: openstack-helm-images-upload-alerta
  description: Deploy aio monitoring with Alerta image
  vars:
    currentdate: '{{ now(utc=True,fmt=''%Y%m%d'') }}'
    docker_images:
    - context: alerta
      repository: openstackhelm/alerta
  ...

openstack-helm-images-build-calicoctl-utility:
  parent: openstack-helm-images-build
  description: Build calicoctl-utility images
  vars:
    currentdate: '{{ now(utc=True,fmt=''%Y%m%d'') }}'
    docker_images:
    - context: calicoctl-utility
      repository: openstackhelm/calicoctl-utility
      dockerfile: Dockerfile.alpine
      tags:
      - latest-alpine
  ...

openstack-helm-images-upload-calicoctl-utility:
  parent: openstack-helm-images-upload
  description: Build and upload calicoctl-utility images
  vars:
    currentdate: '{{ now(utc=True,fmt=''%Y%m%d'') }}'
    docker_images:
    - context: calicoctl-utility
      repository: openstackhelm/calicoctl-utility
      dockerfile: Dockerfile.alpine
      tags:
  ...

openstack-helm-images-promote-calicoctl-utility:
  parent: openstack-helm-images-promote
  description: Promote a previously published calicoctl-utility image to latest.
  vars:
    currentdate: '{{ now(utc=True,fmt=''%Y%m%d'') }}'
    docker_images:
    - context: calicoctl-utility
      repository: openstackhelm/calicoctl-utility
  ...

openstack-helm-images-ceph-config-helper-suse_15:
  parent: openstack-helm-images-ceph-config-helper
  vars:
    distro: suse_15

openstack-helm-images-ceph-config-helper-ubuntu_xenial:
  parent: openstack-helm-images-ceph-config-helper
  vars:
    distro: ubuntu_xenial

openstack-helm-images-ceph-daemon-ubuntu_xenial:
  parent: openstack-helm-images-ceph-daemon
  vars:
    distro: ubuntu_xenial

openstack-helm-images-mariadb-ubuntu_xenial:
  parent: openstack-helm-images-mariadb
  vars:
    distro: ubuntu_xenial

openstack-helm-images-openvswitch-debian:
  parent: openstack-helm-images-openvswitch
  vars:
    distro: debian

fix(ovn): add iproute2 image
  ovn/Dockerfile.ubuntu
Due: openstack-helm-images-build-ovn, openstack-helm-images-upload-ovn, openstack-helm-images-promote-ovn

Add opensearch image with repository-s3 plugin
  opensearch-s3/Dockerfile.2_9_0
  opensearch-s3/build.sh
  zuul.d/opensearch-s3.yaml
Due: none

[osh-selenium] Amend chromedriver installation
  osh-selenium/Dockerfile.ubuntu_focal
Due: none

Fix file matchers for loci jobs
  zuul.d/openstack-loci.yaml
Due: openstack-helm-images-build-openstack-loci-master-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-master-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-master-ubuntu_bionic, openstack-helm-images-build-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-build-openstack-loci-train-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-train-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-train-ubuntu_bionic, openstack-helm-images-build-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial

Add Dockerfile for elasticsearch-8.9.0
  elasticsearch-s3/Dockerfile.8_9_0
  zuul.d/elasticsearch-s3.yaml
Due: none

Stop building master Ubuntu Focal images
  zuul.d/openstack-loci.yaml
Due: openstack-helm-images-build-openstack-loci-master-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-master-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-master-ubuntu_bionic, openstack-helm-images-build-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-build-openstack-loci-train-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-train-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-train-ubuntu_bionic, openstack-helm-images-build-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial

Use custom buildset registry job with bigger timeout
  zuul.d/base.yaml
Due: none

bugfix: Cyborg images require lspci provided by pciutils for lspci_privileged function
  zuul.d/openstack-loci.yaml
Due: openstack-helm-images-build-openstack-loci-master-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-master-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-master-ubuntu_bionic, openstack-helm-images-build-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-build-openstack-loci-train-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-train-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-train-ubuntu_bionic, openstack-helm-images-build-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial

Add 2023.2 (Bobcat) images
  zuul.d/openstack-2023.2.yaml
  zuul.d/openstack-base.yaml
  zuul.d/playbooks/build-openstack.yml
  zuul.d/playbooks/promote-openstack.yml
  zuul.d/playbooks/upload-openstack.yml
  zuul.d/playbooks/vars-openstack.yml
Due: none

Trivial change to kick the image promote job
  zuul.d/openstack-2023.2.yaml
Due: none

Update Focal-based Ceph images to Reef 18.2.0
  zuul.d/ceph.yaml
Due: none

Fix image promote job definition
  zuul.d/openstack-2023.2.yaml
  zuul.d/openstack-base.yaml
Due: none

Build libvirt bobcat jammy image
  libvirt/Dockerfile
  zuul.d/libvirt.yaml
Due: openstack-helm-images-build-libvirt, openstack-helm-images-upload-libvirt, openstack-helm-images-promote-libvirt

Fix libvirt image job (removed tag duplicates)
  zuul.d/libvirt.yaml
Due: openstack-helm-images-build-libvirt, openstack-helm-images-upload-libvirt, openstack-helm-images-promote-libvirt

Fix libvirt Dockerfile
  libvirt/Dockerfile
Due: openstack-helm-images-build-libvirt, openstack-helm-images-upload-libvirt, openstack-helm-images-promote-libvirt

Add the py-bcrypt package to the ceph-daemon image
  ceph-daemon/Dockerfile.ubuntu_focal
Due: none

Replace py-bcrypt with python3-bcrypt
  ceph-daemon/Dockerfile.ubuntu_focal
Due: none

Build osh-selenium from Ubuntu Jammy
  .gitignore
  osh-selenium/Dockerfile.opensuse_15
  osh-selenium/Dockerfile.ubuntu
  osh-selenium/Dockerfile.ubuntu_bionic
  osh-selenium/build.sh
  zuul.d/base.yaml
  zuul.d/osh-selenium.yaml
Due: none

Test 2023.2 images before publishing
  zuul.d/openstack-2023.2.yaml
Due: none

Stop building images for old Openstack releases
  zuul.d/base.yaml
  zuul.d/libvirt.yaml
  zuul.d/mariadb.yaml
  zuul.d/nova-ssh.yaml
  zuul.d/openstack-loci.yaml
  zuul.d/ospurge.yaml
Due: openstack-helm-images-build-libvirt, openstack-helm-images-upload-libvirt, openstack-helm-images-promote-libvirt, openstack-helm-images-mariadb-ubuntu_xenial, openstack-helm-images-build-openstack-loci-master-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-master-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-master-ubuntu_bionic, openstack-helm-images-build-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-build-openstack-loci-train-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-train-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-train-ubuntu_bionic, openstack-helm-images-build-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial

Add more libvirt tags
  zuul.d/libvirt.yaml
Due: openstack-helm-images-build-libvirt, openstack-helm-images-upload-libvirt, openstack-helm-images-promote-libvirt

Increase openstack build job timeout up to 7200
  zuul.d/base.yaml
  zuul.d/openstack-base.yaml
  zuul.d/openstack-loci.yaml
Due: openstack-helm-images-build-openstack-loci-master-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-master-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-master-ubuntu_bionic, openstack-helm-images-build-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-build-openstack-loci-train-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-train-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-train-ubuntu_bionic, openstack-helm-images-build-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial

Enabled 2023.1-ubuntu_focal test jobs
  zuul.d/base.yaml
  zuul.d/openstack-loci.yaml
Due: openstack-helm-images-build-openstack-loci-master-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-master-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-master-ubuntu_bionic, openstack-helm-images-build-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-build-openstack-loci-train-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-train-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-train-ubuntu_bionic, openstack-helm-images-build-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial

Build mariadb jammy images
  mariadb/Dockerfile.ubuntu
  mariadb/build.sh
  zuul.d/mariadb.yaml
Due: openstack-helm-images-mariadb-ubuntu_xenial

Fix cyclic job dependencies
  zuul.d/mariadb.yaml
  zuul.d/openstack-2023.2.yaml
Due: openstack-helm-images-mariadb-ubuntu_xenial

Fix cyclic job dependencies for 2023.1 focal
  zuul.d/base.yaml
  zuul.d/openstack-loci.yaml
Due: openstack-helm-images-build-openstack-loci-master-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-master-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-master-ubuntu_bionic, openstack-helm-images-build-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-build-openstack-loci-train-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-train-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-train-ubuntu_bionic, openstack-helm-images-build-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial

Build magnum image for 2023.2
  zuul.d/openstack-base.yaml
Due: none

Add Openstack client image
  openstack_client/Dockerfile.ubuntu
  zuul.d/openstack_client.yaml
Due: none

Update Ceph images to Jammy and Reef 18.2.1
  ceph-cephfs-provisioner/Dockerfile.ubuntu_jammy
  ceph-cephfs-provisioner/build.sh
  ceph-config-helper/Dockerfile.ubuntu_jammy
  ceph-config-helper/build.sh
  ceph-daemon/Dockerfile.ubuntu_jammy
  ceph-daemon/build.sh
  ceph-rbd-provisioner/Dockerfile.ubuntu_jammy
  ceph-rbd-provisioner/build.sh
  ceph-utility/Dockerfile.ubuntu_jammy
  ceph-utility/build.sh
  zuul.d/ceph.yaml
Due: openstack-helm-images-ceph-config-helper-suse_15, openstack-helm-images-ceph-config-helper-ubuntu_xenial, openstack-helm-images-ceph-daemon-ubuntu_xenial

[openvswitch] Build ovs-dpdk images
  openvswitch/Dockerfile.debian
  openvswitch/Dockerfile.suse_15
  openvswitch/Dockerfile.suse_15-dpdk
  openvswitch/Dockerfile.ubuntu
  openvswitch/Dockerfile.ubuntu-dpdk
  openvswitch/Dockerfile.ubuntu_bionic
  openvswitch/Dockerfile.ubuntu_bionic-dpdk
  openvswitch/Dockerfile.ubuntu_focal
  openvswitch/Dockerfile.ubuntu_jammy
  openvswitch/build.sh
  zuul.d/openvswitch.yaml
Due: openstack-helm-images-openvswitch-debian, openstack-helm-images-openvswitch-suse_15

Get rid of *-aio-* job suffixes
  zuul.d/base.yaml
  zuul.d/elasticsearch-s3.yaml
  zuul.d/fluentd.yaml
  zuul.d/nagios.yaml
  zuul.d/node-problem-detector.yaml
  zuul.d/opensearch-s3.yaml
  zuul.d/osh-selenium.yaml
  zuul.d/prometheus-openstack-exporter.yaml
Due: none

Update Ceph images to address https://tracker.ceph.com/issues/63684
  zuul.d/ceph.yaml
Due: none

Update node problem detector image to v0.8.15
  node-problem-detector/Dockerfile.ubuntu_bionic
  node-problem-detector/Dockerfile.ubuntu_focal
  node-problem-detector/build.sh
Due: none

Change NPD version to v0.8.14 for Focal add Jammy image
  node-problem-detector/Dockerfile.ubuntu_focal
  node-problem-detector/Dockerfile.ubuntu_jammy
  node-problem-detector/build.sh
  zuul.d/node-problem-detector.yaml
Due: none

Update Ceph to include a permanent fix for the ceph-rgw segfault
  zuul.d/ceph.yaml
Due: none

Fixed infinite loop in case post to primary_url is successful
  nagios/plugins/send_http_post_event.py
Due: none

Build Openstack 2024.1 images
  zuul.d/openstack-2024.1.yaml
Due: none

Build libvirt images for Caracal on Ubuntu Jammy
  libvirt/Dockerfile
  zuul.d/libvirt.yaml
Due: openstack-helm-images-build-libvirt, openstack-helm-images-upload-libvirt, openstack-helm-images-promote-libvirt

Build 2024.1 Openstack client image
  zuul.d/openstack_client.yaml
Due: none

Trivial commit to kick 2024.1 build
  zuul.d/openstack-2024.1.yaml
Due: none

Path conditions:
  openstack-helm-images-build-alerta: any of: alerta/.*, zuul.d/alerta.yaml
  openstack-helm-images-upload-alerta: any of: alerta/.*, zuul.d/alerta.yaml
  openstack-helm-images-alerta: any of: alerta/.*, zuul.d/alerta.yaml
  openstack-helm-images-aio-monitoring-alerta: any of: alerta/.*, zuul.d/alerta.yaml
  openstack-helm-images-build-calicoctl-utility: any of: calicoctl-utility/.*, zuul.d/calicoctl-utility.yaml
  openstack-helm-images-upload-calicoctl-utility: any of: calicoctl-utility/.*, zuul.d/calicoctl-utility.yaml
  openstack-helm-images-promote-calicoctl-utility: any of: calicoctl-utility/.*, zuul.d/calicoctl-utility.yaml
  openstack-helm-images-ceph-config-helper-suse_15: any of: ^ceph-config-helper/build.sh, ^ceph-config-helper/Dockerfile.suse_15$, ^zuul.d/ceph-config-helper.yaml
  openstack-helm-images-ceph-config-helper-ubuntu_xenial: any of: ^ceph-config-helper/build.sh, ^ceph-config-helper/Dockerfile.ubuntu_xenial$, ^zuul.d/ceph-config-helper.yaml
  openstack-helm-images-ceph-daemon-ubuntu_xenial: any of: ^ceph-daemon/build.sh, ^ceph-daemon/Dockerfile.ubuntu_xenial$, ^zuul.d/ceph-daemon.yaml
  openstack-helm-images-build-gate-utils: any of: gate-utils/.*, zuul.d/gate-utils.yaml
  openstack-helm-images-upload-gate-utils: any of: gate-utils/.*, zuul.d/gate-utils.yaml
  openstack-helm-images-promote-gate-utils: any of: gate-utils/.*, zuul.d/gate-utils.yaml
  openstack-helm-images-build-libvirt: any of: libvirt/.*, zuul.d/libvirt.yaml
  openstack-helm-images-upload-libvirt: any of: libvirt/.*, zuul.d/libvirt.yaml
  openstack-helm-images-promote-libvirt: any of: libvirt/.*, zuul.d/libvirt.yaml
  openstack-helm-images-mariadb-ubuntu_xenial: any of: ^mariadb/build.sh, ^mariadb/Dockerfile.ubuntu_xenial$, ^zuul.d/mariadb.yaml
  openstack-helm-images-build-openstack-loci-master-ubuntu_bionic: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-upload-openstack-loci-master-ubuntu_bionic: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-promote-openstack-loci-master-ubuntu_bionic: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-build-openstack-loci-ussuri-ubuntu_bionic: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-upload-openstack-loci-ussuri-ubuntu_bionic: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-promote-openstack-loci-ussuri-ubuntu_bionic: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-build-openstack-loci-train-ubuntu_bionic: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-upload-openstack-loci-train-ubuntu_bionic: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-promote-openstack-loci-train-ubuntu_bionic: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-build-openstack-loci-stein-ubuntu_bionic: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-upload-openstack-loci-stein-ubuntu_bionic: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-promote-openstack-loci-stein-ubuntu_bionic: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-build-openstack-loci-rocky-ubuntu_bionic: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-upload-openstack-loci-rocky-ubuntu_bionic: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-promote-openstack-loci-rocky-ubuntu_bionic: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-build-openstack-loci-rocky-opensuse_15: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-upload-openstack-loci-rocky-opensuse_15: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-promote-openstack-loci-rocky-opensuse_15: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-openvswitch-debian: any of: ^openvswitch/build.sh, ^openvswitch/Dockerfile.debian$, ^zuul.d/openvswitch.yaml
  openstack-helm-images-openvswitch-suse_15: any of: ^openvswitch/build.sh, ^openvswitch/Dockerfile.suse_15$, ^zuul.d/openvswitch.yaml
  openstack-helm-images-build-ovn: any of: ovn/.*, zuul.d/ovn.yaml
  openstack-helm-images-upload-ovn: any of: ovn/.*, zuul.d/ovn.yaml
  openstack-helm-images-promote-ovn: any of: ovn/.*, zuul.d/ovn.yaml
  openstack-helm-images-build-tempest: any of: tempest/.*, zuul.d/tempest.yaml
  openstack-helm-images-upload-tempest: any of: tempest/.*, zuul.d/tempest.yaml
  openstack-helm-images-promote-tempest: any of: tempest/.*, zuul.d/tempest.yaml
  openstack-helm-images-build-vbmc: any of: vbmc/.*, zuul.d/vbmc.yaml
  openstack-helm-images-upload-vbmc: any of: vbmc/.*, zuul.d/vbmc.yaml
  openstack-helm-images-promote-vbmc: any of: vbmc/.*, zuul.d/vbmc.yaml
