Repository openstack/openstack-helm-images: changes, and which Zuul jobs are due for each by the changed paths.
All: openstack-helm-images-build-alerta, openstack-helm-images-upload-alerta, openstack-helm-images-alerta, openstack-helm-images-aio-monitoring-alerta, openstack-helm-images-ceph-config-helper-suse_15, openstack-helm-images-ceph-config-helper-ubuntu_xenial, openstack-helm-images-ceph-daemon-ubuntu_xenial, openstack-helm-images-build-libvirt, openstack-helm-images-upload-libvirt, openstack-helm-images-promote-libvirt, openstack-helm-images-mariadb-ubuntu_xenial, openstack-helm-images-build-openstack-loci-master-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-master-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-master-ubuntu_bionic, openstack-helm-images-build-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-build-openstack-loci-train-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-train-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-train-ubuntu_bionic, openstack-helm-images-build-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-openvswitch-debian, openstack-helm-images-openvswitch-suse_15, openstack-helm-images-tempest-ubuntu_xenial, publish-openstack-helm-images-tempest-ubuntu_xenial, openstack-helm-images-vbmc-centos_7, openstack-helm-images-vbmc-suse_15, publish-openstack-helm-images-vbmc-centos_7, publish-openstack-helm-images-vbmc-suse_15

Path conditions:
  openstack-helm-images-build-alerta: any of: alerta/.*, zuul.d/alerta.yaml
  openstack-helm-images-upload-alerta: any of: alerta/.*, zuul.d/alerta.yaml
  openstack-helm-images-alerta: any of: alerta/.*, zuul.d/alerta.yaml
  openstack-helm-images-aio-monitoring-alerta: any of: alerta/.*, zuul.d/alerta.yaml
  openstack-helm-images-ceph-config-helper-suse_15: any of: ^ceph-config-helper/build.sh, ^ceph-config-helper/Dockerfile.suse_15$, ^zuul.d/ceph-config-helper.yaml
  openstack-helm-images-ceph-config-helper-ubuntu_xenial: any of: ^ceph-config-helper/build.sh, ^ceph-config-helper/Dockerfile.ubuntu_xenial$, ^zuul.d/ceph-config-helper.yaml
  openstack-helm-images-ceph-daemon-ubuntu_xenial: any of: ^ceph-daemon/build.sh, ^ceph-daemon/Dockerfile.ubuntu_xenial$, ^zuul.d/ceph-daemon.yaml
  openstack-helm-images-build-libvirt: any of: libvirt/.*, zuul.d/libvirt.yaml
  openstack-helm-images-upload-libvirt: any of: libvirt/.*, zuul.d/libvirt.yaml
  openstack-helm-images-promote-libvirt: any of: libvirt/.*, zuul.d/libvirt.yaml
  openstack-helm-images-mariadb-ubuntu_xenial: any of: ^mariadb/build.sh, ^mariadb/Dockerfile.ubuntu_xenial$, ^zuul.d/mariadb.yaml
  openstack-helm-images-build-openstack-loci-master-ubuntu_bionic: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-upload-openstack-loci-master-ubuntu_bionic: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-promote-openstack-loci-master-ubuntu_bionic: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-build-openstack-loci-ussuri-ubuntu_bionic: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-upload-openstack-loci-ussuri-ubuntu_bionic: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-promote-openstack-loci-ussuri-ubuntu_bionic: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-build-openstack-loci-train-ubuntu_bionic: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-upload-openstack-loci-train-ubuntu_bionic: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-promote-openstack-loci-train-ubuntu_bionic: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-build-openstack-loci-stein-ubuntu_bionic: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-upload-openstack-loci-stein-ubuntu_bionic: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-promote-openstack-loci-stein-ubuntu_bionic: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-build-openstack-loci-rocky-ubuntu_bionic: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-upload-openstack-loci-rocky-ubuntu_bionic: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-promote-openstack-loci-rocky-ubuntu_bionic: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-build-openstack-loci-rocky-opensuse_15: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-upload-openstack-loci-rocky-opensuse_15: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-promote-openstack-loci-rocky-opensuse_15: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-openvswitch-debian: any of: ^openvswitch/build.sh, ^openvswitch/Dockerfile.debian$, ^zuul.d/openvswitch.yaml
  openstack-helm-images-openvswitch-suse_15: any of: ^openvswitch/build.sh, ^openvswitch/Dockerfile.suse_15$, ^zuul.d/openvswitch.yaml
  openstack-helm-images-tempest-ubuntu_xenial: any of: ^tempest/build.sh, ^tempest/Dockerfile.ubuntu_xenial$, ^zuul.d/tempest.yaml
  publish-openstack-helm-images-tempest-ubuntu_xenial: any of: ^tempest/build.sh, ^tempest/Dockerfile.ubuntu_xenial$, ^zuul.d/tempest.yaml
  openstack-helm-images-vbmc-centos_7: any of: ^vbmc/build.sh, ^vbmc/Dockerfile.centos_7$, ^zuul.d/vbmc.yaml
  openstack-helm-images-vbmc-suse_15: any of: ^vbmc/Dockerfile.suse_15, ^vbmc/build.sh, ^zuul.d/vbmc.yaml
  publish-openstack-helm-images-vbmc-centos_7: any of: ^vbmc/build.sh, ^vbmc/Dockerfile.centos_7$, ^zuul.d/vbmc.yaml
  publish-openstack-helm-images-vbmc-suse_15: any of: ^vbmc/Dockerfile.suse_15, ^vbmc/build.sh, ^zuul.d/vbmc.yaml

remove unicode from code
  doc/source/conf.py
Due: none

Change the periodic builds to weekly
  zuul.d/base.yaml
  zuul.d/calicoctl-utility.yaml
  zuul.d/ceph-cephfs-provisioner.yaml
  zuul.d/ceph-config-helper.yaml
  zuul.d/ceph-daemon.yaml
  zuul.d/ceph-rbd-provisioner.yaml
  zuul.d/ceph-utility.yaml
  zuul.d/elasticsearch-s3.yaml
  zuul.d/fluentd.yaml
  zuul.d/gate-utils.yaml
  zuul.d/libvirt.yaml
  zuul.d/mariadb.yaml
  zuul.d/nagios.yaml
  zuul.d/node-problem-detector.yaml
  zuul.d/nova-ssh.yaml
  zuul.d/openstack-loci.yaml
  zuul.d/openvswitch.yaml
  zuul.d/osh-selenium.yaml
  zuul.d/ospurge.yaml
  zuul.d/prometheus-openstack-exporter.yaml
  zuul.d/tempest.yaml
  zuul.d/vbmc.yaml
Due: openstack-helm-images-ceph-config-helper-suse_15, openstack-helm-images-ceph-config-helper-ubuntu_xenial, openstack-helm-images-ceph-daemon-ubuntu_xenial, openstack-helm-images-build-libvirt, openstack-helm-images-upload-libvirt, openstack-helm-images-promote-libvirt, openstack-helm-images-mariadb-ubuntu_xenial, openstack-helm-images-build-openstack-loci-master-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-master-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-master-ubuntu_bionic, openstack-helm-images-build-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-build-openstack-loci-train-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-train-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-train-ubuntu_bionic, openstack-helm-images-build-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-openvswitch-debian, openstack-helm-images-openvswitch-suse_15, openstack-helm-images-tempest-ubuntu_xenial, publish-openstack-helm-images-tempest-ubuntu_xenial, openstack-helm-images-vbmc-centos_7, openstack-helm-images-vbmc-suse_15, publish-openstack-helm-images-vbmc-centos_7, publish-openstack-helm-images-vbmc-suse_15

remove unicode literal from code
  releasenotes/source/conf.py
Due: none

Re-enable Xena jobs
  zuul.d/base.yaml
  zuul.d/openstack-loci.yaml
Due: openstack-helm-images-build-openstack-loci-master-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-master-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-master-ubuntu_bionic, openstack-helm-images-build-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-build-openstack-loci-train-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-train-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-train-ubuntu_bionic, openstack-helm-images-build-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial

Remove Ussuri image building and jobs
  openstack/loci/build-ussuri.sh
  zuul.d/base.yaml
  zuul.d/libvirt.yaml
  zuul.d/mariadb.yaml
  zuul.d/nova-ssh.yaml
  zuul.d/openstack-loci.yaml
  zuul.d/openvswitch.yaml
Due: openstack-helm-images-build-libvirt, openstack-helm-images-upload-libvirt, openstack-helm-images-promote-libvirt, openstack-helm-images-mariadb-ubuntu_xenial, openstack-helm-images-build-openstack-loci-master-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-master-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-master-ubuntu_bionic, openstack-helm-images-build-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-build-openstack-loci-train-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-train-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-train-ubuntu_bionic, openstack-helm-images-build-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-openvswitch-debian, openstack-helm-images-openvswitch-suse_15

libvirt: improve build process
  doc/source/libvirt.rst
  libvirt/Dockerfile
  libvirt/Dockerfile.centos_7
  libvirt/Dockerfile.debian_bullseye
  libvirt/Dockerfile.ubuntu_bionic
  libvirt/Dockerfile.ubuntu_focal
  libvirt/build.sh
  libvirt/ubuntu-install-libvirt.sh
  libvirt/ubuntu-keyring-2012-cloud-archive.gpg
  zuul.d/libvirt.yaml
Due: openstack-helm-images-build-libvirt, openstack-helm-images-upload-libvirt, openstack-helm-images-promote-libvirt

Add barbican-tempest-plugin in tempest image
  tempest/Dockerfile.ubuntu_focal
Due: none

Adding pip3 crytography dependency for ceph-config-helper and ceph-daemon
  ceph-config-helper/Dockerfile.ubuntu_bionic
  ceph-daemon/Dockerfile.ubuntu_bionic
Due: none

Update Ceph images to Focal
  ceph-cephfs-provisioner/Dockerfile.ubuntu_focal
  ceph-cephfs-provisioner/build.sh
  ceph-config-helper/Dockerfile.ubuntu_focal
  ceph-config-helper/build.sh
  ceph-daemon/Dockerfile.ubuntu_focal
  ceph-daemon/build.sh
  ceph-rbd-provisioner/Dockerfile.ubuntu_focal
  ceph-rbd-provisioner/build.sh
  ceph-utility/Dockerfile.ubuntu_focal
  ceph-utility/build.sh
  zuul.d/ceph-cephfs-provisioner.yaml
  zuul.d/ceph-config-helper.yaml
  zuul.d/ceph-daemon.yaml
  zuul.d/ceph-rbd-provisioner.yaml
  zuul.d/ceph-utility.yaml
Due: openstack-helm-images-ceph-config-helper-suse_15, openstack-helm-images-ceph-config-helper-ubuntu_xenial, openstack-helm-images-ceph-daemon-ubuntu_xenial

[nagios] Add focal-based image for nagios
  nagios/Dockerfile.ubuntu_focal
  nagios/build.sh
  zuul.d/nagios.yaml
Due: none

Update Focal-based Ceph images to Quincy
  ceph-cephfs-provisioner/Dockerfile.ubuntu_focal
  ceph-config-helper/Dockerfile.ubuntu_focal
  ceph-daemon/Dockerfile.ubuntu_focal
  ceph-rbd-provisioner/Dockerfile.ubuntu_focal
  ceph-utility/Dockerfile.ubuntu_focal
  tox.ini
Due: none

[ceph-daemon] Add packages to the ceph-daemon image
  ceph-daemon/Dockerfile.ubuntu_focal
Due: none

Update node problem detector to focal
  node-problem-detector/Dockerfile.ubuntu_focal
  node-problem-detector/build.sh
Due: none

Update node-problem-detector zuul config
  zuul.d/node-problem-detector.yaml
Due: none

Add ovn images
  ovn/Dockerfile.ubuntu_focal
  zuul.d/ovn.yaml
Due: none

Add Manila image
  openstack/loci/build.sh
  zuul.d/openstack-loci.yaml
Due: openstack-helm-images-build-openstack-loci-master-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-master-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-master-ubuntu_bionic, openstack-helm-images-build-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-build-openstack-loci-train-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-train-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-train-ubuntu_bionic, openstack-helm-images-build-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial

fix ceph-daemon image missing dependencies.
  ceph-daemon/Dockerfile.ubuntu_focal
Due: none

[ceph] Update Focal-based Ceph images to Quincy 17.2.6
  ceph-cephfs-provisioner/Dockerfile.ubuntu_focal
  ceph-config-helper/Dockerfile.ubuntu_focal
  ceph-daemon/Dockerfile.ubuntu_focal
  ceph-rbd-provisioner/Dockerfile.ubuntu_focal
  ceph-utility/Dockerfile.ubuntu_focal
Due: none

Add pdf-docs tox env
  doc/source/conf.py
  tox.ini
Due: none

[ceph-daemon] Use pip instead of apt to install OpenSSL for Python
  ceph-daemon/Dockerfile.ubuntu_focal
Due: none

Install ssh server to loci nova image
  zuul.d/openstack-loci.yaml
Due: openstack-helm-images-build-openstack-loci-master-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-master-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-master-ubuntu_bionic, openstack-helm-images-build-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-build-openstack-loci-train-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-train-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-train-ubuntu_bionic, openstack-helm-images-build-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial

Rebuild all ceph images at once
  ceph-cephfs-provisioner/Dockerfile.ubuntu_focal
  ceph-config-helper/Dockerfile.ubuntu_focal
  ceph-daemon/Dockerfile.ubuntu_focal
  ceph-rbd-provisioner/Dockerfile.ubuntu_focal
  ceph-utility/Dockerfile.ubuntu_focal
  zuul.d/ceph-cephfs-provisioner.yaml
  zuul.d/ceph-config-helper.yaml
  zuul.d/ceph-daemon.yaml
  zuul.d/ceph-rbd-provisioner.yaml
  zuul.d/ceph-utility.yaml
  zuul.d/ceph.yaml
Due: openstack-helm-images-ceph-config-helper-suse_15, openstack-helm-images-ceph-config-helper-ubuntu_xenial, openstack-helm-images-ceph-daemon-ubuntu_xenial

[ceph-daemon] Upgrade pyOpenSSL to address a ceph-mgr warning
  ceph-daemon/Dockerfile.ubuntu_focal
Due: none

Build tacker images
  openstack/loci/build.sh
  zuul.d/openstack-loci.yaml
Due: openstack-helm-images-build-openstack-loci-master-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-master-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-master-ubuntu_bionic, openstack-helm-images-build-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-build-openstack-loci-train-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-train-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-train-ubuntu_bionic, openstack-helm-images-build-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial

[osh-selenium] Add focal-based image for selenium
  osh-selenium/Dockerfile.ubuntu_focal
  osh-selenium/build.sh
  zuul.d/osh-selenium.yaml
Due: none

Enable yoga build image jobs
  zuul.d/base.yaml
  zuul.d/openstack-loci.yaml
Due: openstack-helm-images-build-openstack-loci-master-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-master-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-master-ubuntu_bionic, openstack-helm-images-build-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-build-openstack-loci-train-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-train-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-train-ubuntu_bionic, openstack-helm-images-build-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial

Add tags for tacker images
  zuul.d/openstack-loci.yaml
Due: openstack-helm-images-build-openstack-loci-master-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-master-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-master-ubuntu_bionic, openstack-helm-images-build-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-build-openstack-loci-train-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-train-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-train-ubuntu_bionic, openstack-helm-images-build-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial

Build openstack zed images
  zuul.d/base.yaml
  zuul.d/openstack-loci.yaml
Due: openstack-helm-images-build-openstack-loci-master-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-master-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-master-ubuntu_bionic, openstack-helm-images-build-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-build-openstack-loci-train-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-train-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-train-ubuntu_bionic, openstack-helm-images-build-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial

Enable Zed compute-kit and cinder test jobs
  zuul.d/base.yaml
  zuul.d/openstack-loci.yaml
Due: openstack-helm-images-build-openstack-loci-master-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-master-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-master-ubuntu_bionic, openstack-helm-images-build-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-build-openstack-loci-train-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-train-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-train-ubuntu_bionic, openstack-helm-images-build-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial

Build 2023.1 images
  zuul.d/base.yaml
  zuul.d/openstack-loci.yaml
Due: openstack-helm-images-build-openstack-loci-master-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-master-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-master-ubuntu_bionic, openstack-helm-images-build-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-build-openstack-loci-train-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-train-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-train-ubuntu_bionic, openstack-helm-images-build-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial

Do not build Debian based openvswitch image
  zuul.d/openvswitch.yaml
Due: openstack-helm-images-openvswitch-debian, openstack-helm-images-openvswitch-suse_15

Fix periodic weekly ovn promote job
  zuul.d/ovn.yaml
Due: none

Fix periodic weekly Openstack 2023.1 promote job
  zuul.d/openstack-loci.yaml
Due: openstack-helm-images-build-openstack-loci-master-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-master-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-master-ubuntu_bionic, openstack-helm-images-build-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-build-openstack-loci-train-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-train-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-train-ubuntu_bionic, openstack-helm-images-build-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial

Fix gate-utils image build job
  gate-utils/Dockerfile.debian
  gate-utils/Dockerfile.suse_15
  gate-utils/Dockerfile.ubuntu_focal
  gate-utils/build.sh
  zuul.d/gate-utils.yaml
Due: none

Adding elasticsearch 8.7.1 image dockerfile
  elasticsearch-s3/Dockerfile.8_7_1
  zuul.d/elasticsearch-s3.yaml
Due: none

Add libvirt version antelope
  libvirt/Dockerfile
  zuul.d/libvirt.yaml
Due: openstack-helm-images-build-libvirt, openstack-helm-images-upload-libvirt, openstack-helm-images-promote-libvirt

Add ovn jammy
  ovn/Dockerfile.ubuntu
  ovn/build.sh
  zuul.d/ovn.yaml
Due: none

Add ovs jammy
  openvswitch/Dockerfile.ubuntu_jammy
  zuul.d/openvswitch.yaml
Due: openstack-helm-images-openvswitch-debian, openstack-helm-images-openvswitch-suse_15

Update mariadb base image
  mariadb/Dockerfile.ubuntu_focal
Due: none

Add ubuntu-jammy based images
  zuul.d/openstack-loci.yaml
Due: openstack-helm-images-build-openstack-loci-master-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-master-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-master-ubuntu_bionic, openstack-helm-images-build-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-build-openstack-loci-train-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-train-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-train-ubuntu_bionic, openstack-helm-images-build-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial
