Repository openstack/openstack-helm-images: changes, and which Zuul jobs are due for each by the changed paths.
All: openstack-helm-images-build-alerta, openstack-helm-images-upload-alerta, openstack-helm-images-alerta, openstack-helm-images-aio-monitoring-alerta, openstack-helm-images-ceph-config-helper-suse_15, openstack-helm-images-ceph-config-helper-ubuntu_xenial, openstack-helm-images-ceph-daemon-ubuntu_xenial, openstack-helm-images-build-libvirt, openstack-helm-images-upload-libvirt, openstack-helm-images-promote-libvirt, openstack-helm-images-mariadb-ubuntu_xenial, openstack-helm-images-build-openstack-loci-master-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-master-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-master-ubuntu_bionic, openstack-helm-images-build-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-build-openstack-loci-train-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-train-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-train-ubuntu_bionic, openstack-helm-images-build-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-openvswitch-debian, openstack-helm-images-openvswitch-suse_15, openstack-helm-images-tempest-ubuntu_xenial, publish-openstack-helm-images-tempest-ubuntu_xenial, openstack-helm-images-vbmc-centos_7, openstack-helm-images-vbmc-suse_15, publish-openstack-helm-images-vbmc-centos_7, publish-openstack-helm-images-vbmc-suse_15

Path conditions:
  openstack-helm-images-build-alerta: any of: alerta/.*, zuul.d/alerta.yaml
  openstack-helm-images-upload-alerta: any of: alerta/.*, zuul.d/alerta.yaml
  openstack-helm-images-alerta: any of: alerta/.*, zuul.d/alerta.yaml
  openstack-helm-images-aio-monitoring-alerta: any of: alerta/.*, zuul.d/alerta.yaml
  openstack-helm-images-ceph-config-helper-suse_15: any of: ^ceph-config-helper/build.sh, ^ceph-config-helper/Dockerfile.suse_15$, ^zuul.d/ceph-config-helper.yaml
  openstack-helm-images-ceph-config-helper-ubuntu_xenial: any of: ^ceph-config-helper/build.sh, ^ceph-config-helper/Dockerfile.ubuntu_xenial$, ^zuul.d/ceph-config-helper.yaml
  openstack-helm-images-ceph-daemon-ubuntu_xenial: any of: ^ceph-daemon/build.sh, ^ceph-daemon/Dockerfile.ubuntu_xenial$, ^zuul.d/ceph-daemon.yaml
  openstack-helm-images-build-libvirt: any of: libvirt/.*, zuul.d/libvirt.yaml
  openstack-helm-images-upload-libvirt: any of: libvirt/.*, zuul.d/libvirt.yaml
  openstack-helm-images-promote-libvirt: any of: libvirt/.*, zuul.d/libvirt.yaml
  openstack-helm-images-mariadb-ubuntu_xenial: any of: ^mariadb/build.sh, ^mariadb/Dockerfile.ubuntu_xenial$, ^zuul.d/mariadb.yaml
  openstack-helm-images-build-openstack-loci-master-ubuntu_bionic: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-upload-openstack-loci-master-ubuntu_bionic: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-promote-openstack-loci-master-ubuntu_bionic: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-build-openstack-loci-ussuri-ubuntu_bionic: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-upload-openstack-loci-ussuri-ubuntu_bionic: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-promote-openstack-loci-ussuri-ubuntu_bionic: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-build-openstack-loci-train-ubuntu_bionic: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-upload-openstack-loci-train-ubuntu_bionic: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-promote-openstack-loci-train-ubuntu_bionic: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-build-openstack-loci-stein-ubuntu_bionic: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-upload-openstack-loci-stein-ubuntu_bionic: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-promote-openstack-loci-stein-ubuntu_bionic: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-build-openstack-loci-rocky-ubuntu_bionic: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-upload-openstack-loci-rocky-ubuntu_bionic: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-promote-openstack-loci-rocky-ubuntu_bionic: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-build-openstack-loci-rocky-opensuse_15: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-upload-openstack-loci-rocky-opensuse_15: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-promote-openstack-loci-rocky-opensuse_15: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-openvswitch-debian: any of: ^openvswitch/build.sh, ^openvswitch/Dockerfile.debian$, ^zuul.d/openvswitch.yaml
  openstack-helm-images-openvswitch-suse_15: any of: ^openvswitch/build.sh, ^openvswitch/Dockerfile.suse_15$, ^zuul.d/openvswitch.yaml
  openstack-helm-images-tempest-ubuntu_xenial: any of: ^tempest/build.sh, ^tempest/Dockerfile.ubuntu_xenial$, ^zuul.d/tempest.yaml
  publish-openstack-helm-images-tempest-ubuntu_xenial: any of: ^tempest/build.sh, ^tempest/Dockerfile.ubuntu_xenial$, ^zuul.d/tempest.yaml
  openstack-helm-images-vbmc-centos_7: any of: ^vbmc/build.sh, ^vbmc/Dockerfile.centos_7$, ^zuul.d/vbmc.yaml
  openstack-helm-images-vbmc-suse_15: any of: ^vbmc/Dockerfile.suse_15, ^vbmc/build.sh, ^zuul.d/vbmc.yaml
  publish-openstack-helm-images-vbmc-centos_7: any of: ^vbmc/build.sh, ^vbmc/Dockerfile.centos_7$, ^zuul.d/vbmc.yaml
  publish-openstack-helm-images-vbmc-suse_15: any of: ^vbmc/Dockerfile.suse_15, ^vbmc/build.sh, ^zuul.d/vbmc.yaml

Create Dockerfile.7_11_2
  elasticsearch-s3/Dockerfile.7_11_2
Due: none

Add Cyborg image build
  zuul.d/openstack-loci.yaml
Due: openstack-helm-images-build-openstack-loci-master-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-master-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-master-ubuntu_bionic, openstack-helm-images-build-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-build-openstack-loci-train-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-train-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-train-ubuntu_bionic, openstack-helm-images-build-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial

Prevent python2 installation
  nagios/Dockerfile.ubuntu_bionic
Due: none

[fix] Openstack exporter update
  prometheus-openstack-exporter/exporter/check_os_api.py
Due: none

Add ubuntu bionic mariadb file
  mariadb/Dockerfile.ubuntu_bionic
  mariadb/build.sh
Due: openstack-helm-images-mariadb-ubuntu_xenial

Rename horizon test job corresponding to osh change
  zuul.d/base.yaml
  zuul.d/openstack-loci.yaml
Due: openstack-helm-images-build-openstack-loci-master-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-master-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-master-ubuntu_bionic, openstack-helm-images-build-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-build-openstack-loci-train-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-train-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-train-ubuntu_bionic, openstack-helm-images-build-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial

Use appropriate version for selenium chromedriver
  osh-selenium/Dockerfile.ubuntu_bionic
  zuul.d/minikube-aio.yaml
  zuul.d/osh-selenium.yaml
Due: none

Fix vbmc and tempest images
  tempest/Dockerfile.ubuntu_bionic
  vbmc/Dockerfile.centos_7
Due: openstack-helm-images-vbmc-centos_7, publish-openstack-helm-images-vbmc-centos_7

Update mariadb upload job
  mariadb/Dockerfile.ubuntu_focal
  zuul.d/mariadb.yaml
Due: openstack-helm-images-mariadb-ubuntu_xenial

Fix cinder-train test job not waiting for mariadb image in gates
  zuul.d/base.yaml
Due: none

Fix openstack loci images upload and promotion
  zuul.d/openstack-loci.yaml
Due: openstack-helm-images-build-openstack-loci-master-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-master-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-master-ubuntu_bionic, openstack-helm-images-build-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-build-openstack-loci-train-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-train-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-train-ubuntu_bionic, openstack-helm-images-build-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial

Neutron add package for ironic-neutron-agent
  openstack/loci/build-newton.sh
  openstack/loci/build-rocky.sh
  openstack/loci/build-stein.sh
  openstack/loci/build-train.sh
  openstack/loci/build-ussuri.sh
Due: openstack-helm-images-build-openstack-loci-master-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-master-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-master-ubuntu_bionic, openstack-helm-images-build-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-build-openstack-loci-train-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-train-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-train-ubuntu_bionic, openstack-helm-images-build-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial

Update mariadb image building
  mariadb/Dockerfile.ubuntu_xenial
  mariadb/build.sh
  zuul.d/mariadb.yaml
Due: openstack-helm-images-mariadb-ubuntu_xenial

setup.cfg: Replace dashes with underscores
  setup.cfg
Due: none

Add Focal images for Libvirt
  libvirt/Dockerfile.ubuntu_focal
  libvirt/ubuntu-install-libvirt.sh
  zuul.d/libvirt.yaml
Due: openstack-helm-images-build-libvirt, openstack-helm-images-upload-libvirt, openstack-helm-images-promote-libvirt

Add OVS images for Focal
  openvswitch/Dockerfile.ubuntu_focal
  zuul.d/openvswitch.yaml
Due: openstack-helm-images-openvswitch-debian, openstack-helm-images-openvswitch-suse_15

Add Focal images for Nova SSH
  nova-ssh/Dockerfile.ubuntu_focal
  zuul.d/nova-ssh.yaml
Due: none

docs: Update Freenode to OFTC
  doc/source/contributor/contributing.rst
Due: none

Remove old release references
  openstack/loci/build-newton.sh
  openstack/loci/build-ocata.sh
  openstack/loci/build-pike.sh
  openstack/loci/build-queens.sh
  openstack/loci/build-rocky.sh
  openstack/loci/build-stein.sh
  zuul.d/base.yaml
  zuul.d/openstack-loci.yaml
Due: openstack-helm-images-build-openstack-loci-master-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-master-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-master-ubuntu_bionic, openstack-helm-images-build-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-build-openstack-loci-train-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-train-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-train-ubuntu_bionic, openstack-helm-images-build-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial

Update monasca-api image
  openstack/loci/build.sh
  zuul.d/openstack-loci.yaml
Due: openstack-helm-images-build-openstack-loci-master-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-master-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-master-ubuntu_bionic, openstack-helm-images-build-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-build-openstack-loci-train-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-train-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-train-ubuntu_bionic, openstack-helm-images-build-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial

fix(dockerfile): removes blank lines
  osh-selenium/Dockerfile.ubuntu_bionic
Due: none

Add designate image building
  zuul.d/openstack-loci.yaml
Due: openstack-helm-images-build-openstack-loci-master-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-master-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-master-ubuntu_bionic, openstack-helm-images-build-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-build-openstack-loci-train-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-train-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-train-ubuntu_bionic, openstack-helm-images-build-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial

Nagios: Add support to communicate with servers with TLS
  nagios/plugins/query_elasticsearch.py
  nagios/plugins/query_prometheus_alerts.py
Due: none

Add retry around Nagios Request
  nagios/plugins/check_exporter_health_metric.py
  nagios/plugins/check_rest_get_api.py
  nagios/plugins/query_prometheus_alerts.py
  nagios/plugins/send_http_post_event.py
Due: none

Added Victoria & Wallaby images
  openstack/loci/build-victoria.sh
  openstack/loci/build-wallaby.sh
  zuul.d/base.yaml
  zuul.d/openstack-loci.yaml
Due: openstack-helm-images-build-openstack-loci-master-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-master-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-master-ubuntu_bionic, openstack-helm-images-build-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-build-openstack-loci-train-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-train-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-train-ubuntu_bionic, openstack-helm-images-build-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial

Fix periodic pipeline and run Ussuri test deployments
  zuul.d/base.yaml
  zuul.d/libvirt.yaml
  zuul.d/mariadb.yaml
  zuul.d/minikube-aio.yaml
  zuul.d/openstack-loci.yaml
  zuul.d/openvswitch.yaml
  zuul.d/ospurge.yaml
Due: openstack-helm-images-build-libvirt, openstack-helm-images-upload-libvirt, openstack-helm-images-promote-libvirt, openstack-helm-images-mariadb-ubuntu_xenial, openstack-helm-images-build-openstack-loci-master-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-master-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-master-ubuntu_bionic, openstack-helm-images-build-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-build-openstack-loci-train-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-train-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-train-ubuntu_bionic, openstack-helm-images-build-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-openvswitch-debian, openstack-helm-images-openvswitch-suse_15

Update octopus ceph version to 15.2.13 available in repos
  ceph-cephfs-provisioner/Dockerfile.ubuntu_bionic
  ceph-config-helper/Dockerfile.ubuntu_bionic
  ceph-daemon/Dockerfile.ubuntu_bionic
  ceph-rbd-provisioner/Dockerfile.ubuntu_bionic
Due: none

Install openssh-client in libvirt
  libvirt/ubuntu-install-libvirt.sh
Due: openstack-helm-images-build-libvirt, openstack-helm-images-upload-libvirt, openstack-helm-images-promote-libvirt

Update helm version to 2.17.0
  minikube-aio/Dockerfile
Due: none

Update helm repo
  minikube-aio/Dockerfile
Due: none

Update ceph version to 15.2.14-1bionic
  ceph-cephfs-provisioner/Dockerfile.ubuntu_bionic
  ceph-config-helper/Dockerfile.ubuntu_bionic
  ceph-daemon/Dockerfile.ubuntu_bionic
  ceph-rbd-provisioner/Dockerfile.ubuntu_bionic
Due: none

Fix issue with retry logic querying prometheus
  nagios/plugins/check_exporter_health_metric.py
  nagios/plugins/query_prometheus_alerts.py
Due: none

Pull tiller from correct repository
  minikube-aio/images.txt
  minikube-aio/install.sh
Due: none

Switch to ceph package version available in repository
  ceph-cephfs-provisioner/Dockerfile.ubuntu_bionic
  ceph-config-helper/Dockerfile.ubuntu_bionic
  ceph-daemon/Dockerfile.ubuntu_bionic
  ceph-rbd-provisioner/Dockerfile.ubuntu_bionic
Due: none

Pin setuptools for tempest
  tempest/Dockerfile.ubuntu_bionic
Due: none

Add a function to remove duplicate HELP/TYPE text from output
  prometheus-openstack-exporter/exporter/main.py
Due: none

Cleanup xenial based images when latter alternative is available
  ceph-cephfs-provisioner/Dockerfile.ubuntu_xenial
  ceph-config-helper/Dockerfile.ubuntu_xenial
  ceph-daemon/Dockerfile.ubuntu_xenial
  ceph-rbd-provisioner/Dockerfile.ubuntu_xenial
  ceph-utility/Dockerfile.ubuntu_xenial
  mini-mirror/Dockerfile.ubuntu_xenial
  patroni/Dockerfile.ubuntu_xenial
  patroni/build.sh
  zuul.d/base.yaml
  zuul.d/ceph-cephfs-provisioner.yaml
  zuul.d/ceph-config-helper.yaml
  zuul.d/ceph-daemon.yaml
  zuul.d/ceph-rbd-provisioner.yaml
  zuul.d/ceph-utility.yaml
  zuul.d/mini-mirror.yaml
  zuul.d/openstack-loci.yaml
  zuul.d/patroni.yaml
Due: openstack-helm-images-ceph-config-helper-suse_15, openstack-helm-images-ceph-config-helper-ubuntu_xenial, openstack-helm-images-ceph-daemon-ubuntu_xenial, openstack-helm-images-build-openstack-loci-master-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-master-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-master-ubuntu_bionic, openstack-helm-images-build-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-build-openstack-loci-train-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-train-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-train-ubuntu_bionic, openstack-helm-images-build-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial

Update minikube-aio Kubernetes version to v1.19.15
  minikube-aio/Dockerfile
Due: none

Add masakari image
  openstack/loci/build.sh
  zuul.d/openstack-loci.yaml
Due: openstack-helm-images-build-openstack-loci-master-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-master-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-master-ubuntu_bionic, openstack-helm-images-build-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-build-openstack-loci-train-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-train-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-train-ubuntu_bionic, openstack-helm-images-build-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial

Fix gates
  zuul.d/openstack-loci.yaml
Due: openstack-helm-images-build-openstack-loci-master-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-master-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-master-ubuntu_bionic, openstack-helm-images-build-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-ussuri-ubuntu_bionic, openstack-helm-images-build-openstack-loci-train-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-train-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-train-ubuntu_bionic, openstack-helm-images-build-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-stein-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_bionic, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial
