Repository openstack/openstack-helm-images: changes, and which Zuul jobs are due for each by the changed paths.
All: openstack-helm-images-ceph-config-helper-suse_15, openstack-helm-images-ceph-config-helper-ubuntu_xenial, openstack-helm-images-ceph-daemon-ubuntu_xenial, openstack-helm-images-build-libvirt, openstack-helm-images-upload-libvirt, openstack-helm-images-promote-libvirt, openstack-helm-images-mariadb-ubuntu_xenial, openstack-helm-images-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-openstack-loci-queens-suse_leap15, openstack-helm-images-openvswitch-debian, openstack-helm-images-openvswitch-suse_15, openstack-helm-images-tempest-ubuntu_xenial, publish-openstack-helm-images-tempest-ubuntu_xenial, openstack-helm-images-vbmc-centos_7, openstack-helm-images-vbmc-suse_15, publish-openstack-helm-images-vbmc-centos_7, publish-openstack-helm-images-vbmc-suse_15

openstack-helm-images-ceph-config-helper-suse_15:
  parent: openstack-helm-images-ceph-config-helper
  vars:
    distro: suse_15

openstack-helm-images-ceph-config-helper-ubuntu_xenial:
  parent: openstack-helm-images-ceph-config-helper
  vars:
    distro: ubuntu_xenial

openstack-helm-images-ceph-daemon-ubuntu_xenial:
  parent: openstack-helm-images-ceph-daemon
  vars:
    distro: ubuntu_xenial

openstack-helm-images-build-libvirt:
  parent: openstack-helm-images-build
  description: Build libvirt images
  vars:
    docker_images:
    - context: libvirt
      repository: openstackhelm/libvirt
      tags:
      - opensuse_15-latest
      dockerfile: Dockerfile.suse_15
    - context: libvirt
      repository: openstackhelm/libvirt
  ...

openstack-helm-images-upload-libvirt:
  parent: openstack-helm-images-upload
  description: Build and upload libvirt images
  vars:
    docker_images:
    - context: libvirt
      repository: openstackhelm/libvirt
      tags:
      - opensuse_15-latest
      dockerfile: Dockerfile.suse_15
    - context: libvirt
      repository: openstackhelm/libvirt
  ...

openstack-helm-images-promote-libvirt:
  parent: openstack-helm-images-promote
  description: Promote a previously published libvirt image to latest.
  vars:
    docker_images:
    - context: libvirt
      repository: openstackhelm/libvirt
      tags:
      - opensuse_15-latest
      dockerfile: Dockerfile.suse_15
    - context: libvirt
  ...

openstack-helm-images-mariadb-ubuntu_xenial:
  parent: openstack-helm-images-mariadb
  vars:
    distro: ubuntu_xenial

openstack-helm-images-openstack-loci-newton-ubuntu_xenial:
  parent: openstack-helm-images-openstack-loci-newton

openstack-helm-images-openstack-loci-ocata-ubuntu_xenial:
  parent: openstack-helm-images-openstack-loci-ocata

openstack-helm-images-openstack-loci-pike-ubuntu_xenial:
  parent: openstack-helm-images-openstack-loci-pike

openstack-helm-images-openstack-loci-queens-ubuntu_xenial:
  parent: openstack-helm-images-openstack-loci-queens

openstack-helm-images-openstack-loci-queens-suse_leap15:
  parent: openstack-helm-images-openstack-loci-queens
  vars:
    build_environment:
      BASE_IMAGE: leap15

openstack-helm-images-openvswitch-debian:
  parent: openstack-helm-images-openvswitch
  vars:
    distro: debian

openstack-helm-images-openvswitch-suse_15:
  parent: openstack-helm-images-openvswitch
  vars:
    distro: suse_15

openstack-helm-images-tempest-ubuntu_xenial:
  parent: openstack-helm-images-tempest
  vars:
    distro: ubuntu_xenial

publish-openstack-helm-images-tempest-ubuntu_xenial:
  parent: openstack-helm-images-tempest-ubuntu_xenial
  post-run: zuul.d/playbooks/publish.yml
  post-review: true
  secrets:
  - openstack_helm_images_publish_credentials

openstack-helm-images-vbmc-centos_7:
  parent: openstack-helm-images-vbmc
  vars:
    distro: centos_7

openstack-helm-images-vbmc-suse_15:
  parent: openstack-helm-images-vbmc
  vars:
    distro: suse_15

[Ceph] Add Ceph RBD and CephFS provisioners images
  ceph-cephfs-provisioner/Dockerfile.ubuntu_xenial
  ceph-cephfs-provisioner/build.sh
  ceph-rbd-provisioner/Dockerfile.ubuntu_xenial
  ceph-rbd-provisioner/build.sh
  zuul.d/ceph-cephfs-provisioner.yaml
  zuul.d/ceph-rbd-provisioner.yaml
Due: none

Add Elasticsearch image with s3 plugin
  elasticsearch-s3/Dockerfile.5_6_4
  elasticsearch-s3/build.sh
  zuul.d/elasticsearch-s3.yaml
Due: none

mini-mirror: Ignore src config for publishing
  mini-mirror/tools/publish_snapshots.sh
Due: none

Add curl to the default heat image
  openstack/loci/build.sh
  zuul.d/openstack-loci.yaml
Due: openstack-helm-images-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-openstack-loci-queens-suse_leap15

Add Patroni image
  patroni/Dockerfile.ubuntu_xenial
  patroni/build.sh
  zuul.d/patroni.yaml
Due: none

Add pycrypto into Ocata images explicitly
  zuul.d/openstack-loci.yaml
Due: openstack-helm-images-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-openstack-loci-queens-suse_leap15

Revert "Adding support for DPDK to openvswitch image"
  openvswitch/Dockerfile.debian
Due: openstack-helm-images-openvswitch-debian

ceph: bump kubernetes version for ceph images
  ceph-config-helper/Dockerfile.suse_15
  ceph-config-helper/Dockerfile.ubuntu_xenial
  ceph-daemon/Dockerfile.ubuntu_xenial
  ceph-utility/Dockerfile.ubuntu_xenial
Due: openstack-helm-images-ceph-config-helper-suse_15, openstack-helm-images-ceph-config-helper-ubuntu_xenial, openstack-helm-images-ceph-daemon-ubuntu_xenial

Adding temporary individual OVS image with DPDK support
  openvswitch/Dockerfile.debian-dpdk
  zuul.d/openvswitch.yaml
Due: openstack-helm-images-openvswitch-debian, openstack-helm-images-openvswitch-suse_15

Do not hardcode libvirt version
  libvirt/Dockerfile.ubuntu_xenial
Due: openstack-helm-images-build-libvirt, openstack-helm-images-upload-libvirt, openstack-helm-images-promote-libvirt

OSH-Images: Add fluentd image with systemd plugin
  fluentd/Dockerfile.debian
  fluentd/build.sh
  zuul.d/fluentd.yaml
Due: none

Restrict Rocky on Leap 15.0
  zuul.d/openstack-loci.yaml
Due: openstack-helm-images-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-openstack-loci-queens-suse_leap15

Remove Newton from image builds
  zuul.d/openstack-loci.yaml
Due: openstack-helm-images-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-openstack-loci-queens-suse_leap15

Freeze images with a date
  zuul.d/calicoctl-utility.yaml
  zuul.d/ceph-cephfs-provisioner.yaml
  zuul.d/ceph-config-helper.yaml
  zuul.d/ceph-daemon.yaml
  zuul.d/ceph-rbd-provisioner.yaml
  zuul.d/ceph-utility.yaml
  zuul.d/fluentd.yaml
  zuul.d/gate-utils.yaml
  zuul.d/libvirt.yaml
  zuul.d/mariadb.yaml
  zuul.d/mini-mirror.yaml
  zuul.d/openstack-loci.yaml
  zuul.d/openvswitch.yaml
  zuul.d/patroni.yaml
  zuul.d/tempest.yaml
  zuul.d/vbmc.yaml
Due: openstack-helm-images-ceph-config-helper-suse_15, openstack-helm-images-ceph-config-helper-ubuntu_xenial, openstack-helm-images-ceph-daemon-ubuntu_xenial, openstack-helm-images-build-libvirt, openstack-helm-images-upload-libvirt, openstack-helm-images-promote-libvirt, openstack-helm-images-mariadb-ubuntu_xenial, openstack-helm-images-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-openstack-loci-queens-suse_leap15, openstack-helm-images-openvswitch-debian, openstack-helm-images-openvswitch-suse_15, openstack-helm-images-tempest-ubuntu_xenial, publish-openstack-helm-images-tempest-ubuntu_xenial, openstack-helm-images-vbmc-centos_7, openstack-helm-images-vbmc-suse_15, publish-openstack-helm-images-vbmc-centos_7, publish-openstack-helm-images-vbmc-suse_15

Add periodic building
  zuul.d/openstack-loci.yaml
Due: openstack-helm-images-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-openstack-loci-queens-suse_leap15

Add image for Selenium to be used in helm tests
  osh-selenium/Dockerfile.ubuntu_xenial
  osh-selenium/build.sh
  zuul.d/osh-selenium.yaml
Due: none

Add SUSE image for Selenium to be used in helm tests
  osh-selenium/Dockerfile.opensuse_15
  osh-selenium/linux_signing_key.pub
  zuul.d/osh-selenium.yaml
Due: none

Revert "Freeze images with a date"
  zuul.d/calicoctl-utility.yaml
  zuul.d/ceph-cephfs-provisioner.yaml
  zuul.d/ceph-config-helper.yaml
  zuul.d/ceph-daemon.yaml
  zuul.d/ceph-rbd-provisioner.yaml
  zuul.d/ceph-utility.yaml
  zuul.d/fluentd.yaml
  zuul.d/gate-utils.yaml
  zuul.d/libvirt.yaml
  zuul.d/mariadb.yaml
  zuul.d/mini-mirror.yaml
  zuul.d/openstack-loci.yaml
  zuul.d/openvswitch.yaml
  zuul.d/patroni.yaml
  zuul.d/tempest.yaml
  zuul.d/vbmc.yaml
Due: openstack-helm-images-ceph-config-helper-suse_15, openstack-helm-images-ceph-config-helper-ubuntu_xenial, openstack-helm-images-ceph-daemon-ubuntu_xenial, openstack-helm-images-build-libvirt, openstack-helm-images-upload-libvirt, openstack-helm-images-promote-libvirt, openstack-helm-images-mariadb-ubuntu_xenial, openstack-helm-images-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-openstack-loci-queens-suse_leap15, openstack-helm-images-openvswitch-debian, openstack-helm-images-openvswitch-suse_15, openstack-helm-images-tempest-ubuntu_xenial, publish-openstack-helm-images-tempest-ubuntu_xenial, openstack-helm-images-vbmc-centos_7, openstack-helm-images-vbmc-suse_15, publish-openstack-helm-images-vbmc-centos_7, publish-openstack-helm-images-vbmc-suse_15

Freeze Elasticsearch S3 with date.
  zuul.d/elasticsearch-s3.yaml
Due: none

Revert "Freeze Elasticsearch S3 with date."
  zuul.d/elasticsearch-s3.yaml
Due: none

Install qemu-block-rbd package for Ceph support
  libvirt/Dockerfile.suse_15
Due: openstack-helm-images-build-libvirt, openstack-helm-images-upload-libvirt, openstack-helm-images-promote-libvirt

Add ubuntu bionic based ovs image
  openvswitch/Dockerfile.debian-dpdk
  openvswitch/Dockerfile.ubuntu_bionic
  openvswitch/Dockerfile.ubuntu_bionic-dpdk
  zuul.d/openvswitch.yaml
Due: openstack-helm-images-openvswitch-debian, openstack-helm-images-openvswitch-suse_15

Unhardcode distro codename for ceph-config-helper
  ceph-config-helper/Dockerfile.ubuntu_xenial
Due: openstack-helm-images-ceph-config-helper-ubuntu_xenial

Add Nagios image to openstack-helm-images
  nagios/Dockerfile.ubuntu_xenial
  nagios/apache2/ports.conf
  nagios/apache2/sites-available/nagios.conf
  nagios/build.sh
  nagios/plugins/check_exporter_health_metric.py
  nagios/plugins/check_prometheus_metric.sh
  nagios/plugins/check_rest_get_api.py
  nagios/plugins/check_update_prometheus_hosts.py
  nagios/plugins/nagiosutil.py
  nagios/plugins/query_elasticsearch.py
  nagios/plugins/query_prometheus_alerts.py
  nagios/plugins/send_host_trap.sh
  nagios/plugins/send_http_post_event.py
  nagios/plugins/send_service_trap.sh
  nagios/scripts/entrypoint.sh
  nagios/scripts/snmp-mibs/NAGIOS-NOTIFY-MIB
  nagios/scripts/snmp-mibs/NAGIOS-ROOT-MIB
  zuul.d/nagios.yaml
Due: none

Add Prometheus openstack exporter image
  prometheus-openstack-exporter/Dockerfile.ubuntu_xenial
  prometheus-openstack-exporter/build.sh
  prometheus-openstack-exporter/exporter/__init__.py
  prometheus-openstack-exporter/exporter/base.py
  prometheus-openstack-exporter/exporter/check_os_api.py
  prometheus-openstack-exporter/exporter/cinder_services.py
  prometheus-openstack-exporter/exporter/hypervisor_stats.py
  prometheus-openstack-exporter/exporter/main.py
  prometheus-openstack-exporter/exporter/neutron_agents.py
  prometheus-openstack-exporter/exporter/nova_services.py
  prometheus-openstack-exporter/exporter/oscache.py
  prometheus-openstack-exporter/exporter/osclient.py
  zuul.d/prometheus-openstack-exporter.yaml
Due: none

Freeze libvirt image with date
  zuul.d/base.yaml
  zuul.d/libvirt.yaml
Due: openstack-helm-images-build-libvirt, openstack-helm-images-upload-libvirt, openstack-helm-images-promote-libvirt

Add bionic based build jobs to Zuul build configuraton
  openstack/loci/build-stein.sh
  openstack/loci/build.sh
  zuul.d/openstack-loci.yaml
Due: openstack-helm-images-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-openstack-loci-queens-suse_leap15

Libvirt: Ubuntu Bionic image
  libvirt/Dockerfile.ubuntu_bionic
  libvirt/ubuntu-install-libvirt.sh
  zuul.d/libvirt.yaml
Due: openstack-helm-images-build-libvirt, openstack-helm-images-upload-libvirt, openstack-helm-images-promote-libvirt

Nagios: Make scripts and plugins executable
  nagios/plugins/check_exporter_health_metric.py
  nagios/plugins/check_prometheus_metric.sh
  nagios/plugins/check_rest_get_api.py
  nagios/plugins/check_update_prometheus_hosts.py
  nagios/plugins/nagiosutil.py
  nagios/plugins/query_elasticsearch.py
  nagios/plugins/query_prometheus_alerts.py
  nagios/plugins/send_host_trap.sh
  nagios/plugins/send_http_post_event.py
  nagios/plugins/send_service_trap.sh
  nagios/scripts/entrypoint.sh
Due: none

Nagios: Update Nagios host definition plugin
  nagios/Dockerfile.ubuntu_xenial
  nagios/plugins/check_update_prometheus_hosts.py
Due: none

Nagios: Update plugin for defining hosts and host groups
  nagios/plugins/define-nagios-hosts.py
Due: none

OpenStack-Exporter: Update airship health api endpoints
  prometheus-openstack-exporter/exporter/check_os_api.py
Due: none

Revert "Revert "Freeze images with a date""
  zuul.d/calicoctl-utility.yaml
  zuul.d/ceph-cephfs-provisioner.yaml
  zuul.d/ceph-config-helper.yaml
  zuul.d/ceph-daemon.yaml
  zuul.d/ceph-rbd-provisioner.yaml
  zuul.d/ceph-utility.yaml
  zuul.d/elasticsearch-s3.yaml
  zuul.d/fluentd.yaml
  zuul.d/gate-utils.yaml
  zuul.d/mariadb.yaml
  zuul.d/mini-mirror.yaml
  zuul.d/nagios.yaml
  zuul.d/openvswitch.yaml
  zuul.d/osh-selenium.yaml
  zuul.d/patroni.yaml
  zuul.d/prometheus-openstack-exporter.yaml
  zuul.d/tempest.yaml
  zuul.d/vbmc.yaml
Due: openstack-helm-images-ceph-config-helper-suse_15, openstack-helm-images-ceph-config-helper-ubuntu_xenial, openstack-helm-images-ceph-daemon-ubuntu_xenial, openstack-helm-images-mariadb-ubuntu_xenial, openstack-helm-images-openvswitch-debian, openstack-helm-images-openvswitch-suse_15, openstack-helm-images-tempest-ubuntu_xenial, publish-openstack-helm-images-tempest-ubuntu_xenial, openstack-helm-images-vbmc-centos_7, openstack-helm-images-vbmc-suse_15, publish-openstack-helm-images-vbmc-centos_7, publish-openstack-helm-images-vbmc-suse_15

Mariadb Image: Disable shell for mysql user
  mariadb/Dockerfile.ubuntu_xenial
Due: openstack-helm-images-mariadb-ubuntu_xenial

Nagios: Add elasticsearch python clients to image
  nagios/Dockerfile.ubuntu_xenial
Due: none

Nagios: Updated plugin script to handle Null value
  nagios/plugins/check_exporter_health_metric.py
Due: none

Add jq package for neutron image
  openstack/loci/build.sh
  zuul.d/openstack-loci.yaml
Due: openstack-helm-images-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-openstack-loci-queens-suse_leap15

Add support for DPDK to opensuse openvswitch image
  openvswitch/Dockerfile.suse_15-dpdk
  zuul.d/openvswitch.yaml
Due: openstack-helm-images-openvswitch-debian, openstack-helm-images-openvswitch-suse_15

Nagios: Update Nagios Core version to 4.4.3
  nagios/Dockerfile.ubuntu_xenial
Due: none

Freeze LOCI images with a date
  zuul.d/openstack-loci.yaml
Due: openstack-helm-images-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-openstack-loci-queens-suse_leap15

Path conditions:
  openstack-helm-images-ceph-config-helper-suse_15: any of: ^ceph-config-helper/build.sh, ^ceph-config-helper/Dockerfile.suse_15$, ^zuul.d/ceph-config-helper.yaml
  openstack-helm-images-ceph-config-helper-ubuntu_xenial: any of: ^ceph-config-helper/build.sh, ^ceph-config-helper/Dockerfile.ubuntu_xenial$, ^zuul.d/ceph-config-helper.yaml
  openstack-helm-images-ceph-daemon-ubuntu_xenial: any of: ^ceph-daemon/build.sh, ^ceph-daemon/Dockerfile.ubuntu_xenial$, ^zuul.d/ceph-daemon.yaml
  openstack-helm-images-build-libvirt: any of: libvirt/.*, zuul.d/libvirt.yaml
  openstack-helm-images-upload-libvirt: any of: libvirt/.*, zuul.d/libvirt.yaml
  openstack-helm-images-promote-libvirt: any of: libvirt/.*, zuul.d/libvirt.yaml
  openstack-helm-images-mariadb-ubuntu_xenial: any of: ^mariadb/build.sh, ^mariadb/Dockerfile.ubuntu_xenial$, ^zuul.d/mariadb.yaml
  openstack-helm-images-openstack-loci-newton-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-openstack-loci-ocata-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-openstack-loci-pike-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-openstack-loci-queens-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-openstack-loci-queens-suse_leap15: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-openvswitch-debian: any of: ^openvswitch/build.sh, ^openvswitch/Dockerfile.debian$, ^zuul.d/openvswitch.yaml
  openstack-helm-images-openvswitch-suse_15: any of: ^openvswitch/build.sh, ^openvswitch/Dockerfile.suse_15$, ^zuul.d/openvswitch.yaml
  openstack-helm-images-tempest-ubuntu_xenial: any of: ^tempest/build.sh, ^tempest/Dockerfile.ubuntu_xenial$, ^zuul.d/tempest.yaml
  publish-openstack-helm-images-tempest-ubuntu_xenial: any of: ^tempest/build.sh, ^tempest/Dockerfile.ubuntu_xenial$, ^zuul.d/tempest.yaml
  openstack-helm-images-vbmc-centos_7: any of: ^vbmc/build.sh, ^vbmc/Dockerfile.centos_7$, ^zuul.d/vbmc.yaml
  openstack-helm-images-vbmc-suse_15: any of: ^vbmc/Dockerfile.suse_15, ^vbmc/build.sh, ^zuul.d/vbmc.yaml
  publish-openstack-helm-images-vbmc-centos_7: any of: ^vbmc/build.sh, ^vbmc/Dockerfile.centos_7$, ^zuul.d/vbmc.yaml
  publish-openstack-helm-images-vbmc-suse_15: any of: ^vbmc/Dockerfile.suse_15, ^vbmc/build.sh, ^zuul.d/vbmc.yaml
