Repository openstack/openstack-helm-images: changes, and which Zuul jobs are due for each by the changed paths.
All: openstack-helm-images-ceph-config-helper-suse_15, openstack-helm-images-ceph-config-helper-ubuntu_xenial, openstack-helm-images-ceph-daemon-ubuntu_xenial, openstack-helm-images-build-libvirt, openstack-helm-images-upload-libvirt, openstack-helm-images-promote-libvirt, openstack-helm-images-mariadb-ubuntu_xenial, openstack-helm-images-build-openstack-loci-master-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-master-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-master-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-build-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-openvswitch-debian, openstack-helm-images-openvswitch-suse_15, openstack-helm-images-tempest-ubuntu_xenial, publish-openstack-helm-images-tempest-ubuntu_xenial, openstack-helm-images-vbmc-centos_7, openstack-helm-images-vbmc-suse_15, publish-openstack-helm-images-vbmc-centos_7, publish-openstack-helm-images-vbmc-suse_15

Path conditions:
  openstack-helm-images-ceph-config-helper-suse_15: any of: ^ceph-config-helper/build.sh, ^ceph-config-helper/Dockerfile.suse_15$, ^zuul.d/ceph-config-helper.yaml
  openstack-helm-images-ceph-config-helper-ubuntu_xenial: any of: ^ceph-config-helper/build.sh, ^ceph-config-helper/Dockerfile.ubuntu_xenial$, ^zuul.d/ceph-config-helper.yaml
  openstack-helm-images-ceph-daemon-ubuntu_xenial: any of: ^ceph-daemon/build.sh, ^ceph-daemon/Dockerfile.ubuntu_xenial$, ^zuul.d/ceph-daemon.yaml
  openstack-helm-images-build-libvirt: any of: libvirt/.*, zuul.d/libvirt.yaml
  openstack-helm-images-upload-libvirt: any of: libvirt/.*, zuul.d/libvirt.yaml
  openstack-helm-images-promote-libvirt: any of: libvirt/.*, zuul.d/libvirt.yaml
  openstack-helm-images-mariadb-ubuntu_xenial: any of: ^mariadb/build.sh, ^mariadb/Dockerfile.ubuntu_xenial$, ^zuul.d/mariadb.yaml
  openstack-helm-images-build-openstack-loci-master-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-upload-openstack-loci-master-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-promote-openstack-loci-master-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-build-openstack-loci-rocky-opensuse_15: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-upload-openstack-loci-rocky-opensuse_15: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-promote-openstack-loci-rocky-opensuse_15: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-build-openstack-loci-newton-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-upload-openstack-loci-newton-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-promote-openstack-loci-newton-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-openvswitch-debian: any of: ^openvswitch/build.sh, ^openvswitch/Dockerfile.debian$, ^zuul.d/openvswitch.yaml
  openstack-helm-images-openvswitch-suse_15: any of: ^openvswitch/build.sh, ^openvswitch/Dockerfile.suse_15$, ^zuul.d/openvswitch.yaml
  openstack-helm-images-tempest-ubuntu_xenial: any of: ^tempest/build.sh, ^tempest/Dockerfile.ubuntu_xenial$, ^zuul.d/tempest.yaml
  publish-openstack-helm-images-tempest-ubuntu_xenial: any of: ^tempest/build.sh, ^tempest/Dockerfile.ubuntu_xenial$, ^zuul.d/tempest.yaml
  openstack-helm-images-vbmc-centos_7: any of: ^vbmc/build.sh, ^vbmc/Dockerfile.centos_7$, ^zuul.d/vbmc.yaml
  openstack-helm-images-vbmc-suse_15: any of: ^vbmc/Dockerfile.suse_15, ^vbmc/build.sh, ^zuul.d/vbmc.yaml
  publish-openstack-helm-images-vbmc-centos_7: any of: ^vbmc/build.sh, ^vbmc/Dockerfile.centos_7$, ^zuul.d/vbmc.yaml
  publish-openstack-helm-images-vbmc-suse_15: any of: ^vbmc/Dockerfile.suse_15, ^vbmc/build.sh, ^zuul.d/vbmc.yaml

Fix: add sriov support to gate builds aswell as local
  zuul.d/openstack-loci.yaml
Due: openstack-helm-images-build-openstack-loci-master-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-master-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-master-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-build-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-newton-ubuntu_xenial

Don't install python3-(urllib3|requests) to patroni image
  patroni/Dockerfile.ubuntu_xenial
Due: none

Update Ceph images to Ceph 14.2.9
  ceph-cephfs-provisioner/Dockerfile.ubuntu_bionic
  ceph-config-helper/Dockerfile.ubuntu_bionic
  ceph-daemon/Dockerfile.ubuntu_bionic
  ceph-rbd-provisioner/Dockerfile.ubuntu_bionic
  ceph-utility/Dockerfile.ubuntu_bionic
Due: none

Add Ussuri set of LOCI images
  openstack/loci/build-ussuri.sh
  zuul.d/openstack-loci.yaml
Due: openstack-helm-images-build-openstack-loci-master-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-master-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-master-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-build-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-newton-ubuntu_xenial

Remove retired congress
  openstack/loci/build-newton.sh
  openstack/loci/build-rocky.sh
  openstack/loci/build-stein.sh
  openstack/loci/build-train.sh
  openstack/loci/build.sh
  prometheus-openstack-exporter/exporter/check_os_api.py
  zuul.d/openstack-loci.yaml
Due: openstack-helm-images-build-openstack-loci-master-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-master-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-master-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-build-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-newton-ubuntu_xenial

Switch to newer openstackdocstheme and reno versions
  doc/requirements.txt
  doc/source/conf.py
  releasenotes/source/conf.py
Due: none

Change kubectl binary to kubernetes library
  nagios/plugins/pvc_pv_rbd_monitoring.py
Due: none

Add apache profile to cinder
  openstack/loci/build.sh
Due: openstack-helm-images-build-openstack-loci-master-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-master-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-master-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-build-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-newton-ubuntu_xenial

Add apache profile to neutron and cinder
  openstack/loci/build.sh
  zuul.d/openstack-loci.yaml
Due: openstack-helm-images-build-openstack-loci-master-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-master-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-master-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-build-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-newton-ubuntu_xenial

Update Openstack-exporter docker file
  prometheus-openstack-exporter/Dockerfile.ubuntu_bionic
Due: none

[libvirt] Update Ceph to 14.2.9
  libvirt/Dockerfile.ubuntu_bionic
  libvirt/ubuntu-install-libvirt.sh
  zuul.d/libvirt.yaml
Due: openstack-helm-images-build-libvirt, openstack-helm-images-upload-libvirt, openstack-helm-images-promote-libvirt

Correcting the rbd monitoring script
  nagios/plugins/pvc_pv_rbd_monitoring.py
Due: none

Add a user to nagios to define a region
  nagios/scripts/entrypoint.sh
Due: none

Introduces gate testing for loci images using osh jobs
  zuul.d/openstack-loci.yaml
Due: openstack-helm-images-build-openstack-loci-master-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-master-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-master-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-build-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-newton-ubuntu_xenial

To make the script in to nagios plugin
  nagios/plugins/pvc_pv_rbd_monitoring.py
Due: none

Node Problem Detector Image
  node-problem-detector/Dockerfile.ubuntu_bionic
  node-problem-detector/build.sh
Due: none

Add zuul job for Node Promblem Detector image
  zuul.d/node-problem-detector.yaml
Due: none

Move vbmc to py3 and install from pypi
  vbmc/Dockerfile.centos_7
  zuul.d/vbmc.yaml
Due: openstack-helm-images-vbmc-centos_7, openstack-helm-images-vbmc-suse_15, publish-openstack-helm-images-vbmc-centos_7, publish-openstack-helm-images-vbmc-suse_15

Add gcc and make for fluent-plugin-kafka gem installation
  fluentd/Dockerfile.debian
Due: none

Disable build of openSUSE base images and uplift ceph packages
  ceph-cephfs-provisioner/Dockerfile.ubuntu_bionic
  ceph-config-helper/Dockerfile.ubuntu_bionic
  ceph-daemon/Dockerfile.ubuntu_bionic
  ceph-rbd-provisioner/Dockerfile.ubuntu_bionic
  ceph-utility/Dockerfile.ubuntu_bionic
  zuul.d/ceph-config-helper.yaml
  zuul.d/gate-utils.yaml
  zuul.d/libvirt.yaml
  zuul.d/openstack-loci.yaml
  zuul.d/openvswitch.yaml
  zuul.d/osh-selenium.yaml
  zuul.d/tempest.yaml
Due: openstack-helm-images-ceph-config-helper-suse_15, openstack-helm-images-ceph-config-helper-ubuntu_xenial, openstack-helm-images-build-libvirt, openstack-helm-images-upload-libvirt, openstack-helm-images-promote-libvirt, openstack-helm-images-build-openstack-loci-master-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-master-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-master-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-build-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-openvswitch-debian, openstack-helm-images-openvswitch-suse_15, openstack-helm-images-tempest-ubuntu_xenial, publish-openstack-helm-images-tempest-ubuntu_xenial

Add post-review test deployments after image build
  zuul.d/elasticsearch-s3.yaml
  zuul.d/fluentd.yaml
  zuul.d/libvirt.yaml
  zuul.d/mariadb.yaml
  zuul.d/nagios.yaml
  zuul.d/node-problem-detector.yaml
  zuul.d/openstack-loci.yaml
  zuul.d/openvswitch.yaml
  zuul.d/osh-selenium.yaml
  zuul.d/ospurge.yaml
  zuul.d/patroni.yaml
  zuul.d/prometheus-openstack-exporter.yaml
Due: openstack-helm-images-build-libvirt, openstack-helm-images-upload-libvirt, openstack-helm-images-promote-libvirt, openstack-helm-images-mariadb-ubuntu_xenial, openstack-helm-images-build-openstack-loci-master-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-master-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-master-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-build-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-openvswitch-debian, openstack-helm-images-openvswitch-suse_15

prometheus-openstack-exporter: support TLS
  prometheus-openstack-exporter/exporter/main.py
  prometheus-openstack-exporter/exporter/osclient.py
Due: none

Introduce minikube-aio image
  minikube-aio/Dockerfile
  minikube-aio/images.txt
  minikube-aio/install.sh
  minikube-aio/sources.list
  zuul.d/minikube-aio.yaml
Due: none

Dockerfile for Elasticsearch v7.6.2
  elasticsearch-s3/Dockerfile.7_6_2
Due: none

Publish loci requirements image
  zuul.d/openstack-loci.yaml
Due: openstack-helm-images-build-openstack-loci-master-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-master-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-master-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-build-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-newton-ubuntu_xenial

Images: Update all images to allow base image over-rides
  ceph-cephfs-provisioner/Dockerfile.ubuntu_xenial
  ceph-rbd-provisioner/Dockerfile.ubuntu_xenial
  elasticsearch-s3/Dockerfile.5_6_4
  elasticsearch-s3/Dockerfile.7_1_0
  fluentd/Dockerfile.debian
  gate-utils/Dockerfile.debian
  libvirt/Dockerfile.suse_15
  mariadb/Dockerfile.ubuntu_xenial
  mini-mirror/Dockerfile.ubuntu_xenial
  minikube-aio/Dockerfile
  node-problem-detector/Dockerfile.ubuntu_bionic
  openvswitch/Dockerfile.debian
  openvswitch/Dockerfile.ubuntu_bionic
  osh-selenium/Dockerfile.opensuse_15
  osh-selenium/Dockerfile.ubuntu_bionic
  patroni/Dockerfile.ubuntu_xenial
  tempest/Dockerfile.opensuse_15
  tempest/Dockerfile.ubuntu_bionic
  tempest/Dockerfile.ubuntu_xenial
  vbmc/Dockerfile.centos_7
Due: openstack-helm-images-build-libvirt, openstack-helm-images-upload-libvirt, openstack-helm-images-promote-libvirt, openstack-helm-images-mariadb-ubuntu_xenial, openstack-helm-images-openvswitch-debian, openstack-helm-images-tempest-ubuntu_xenial, publish-openstack-helm-images-tempest-ubuntu_xenial, openstack-helm-images-vbmc-centos_7, publish-openstack-helm-images-vbmc-centos_7

Selenium: reduce image download size
  osh-selenium/Dockerfile.opensuse_15
  osh-selenium/Dockerfile.ubuntu_bionic
Due: none

Add heat-dashboard to horizon image
  openstack/loci/build-rocky.sh
  openstack/loci/build-stein.sh
  openstack/loci/build-train.sh
  openstack/loci/build-ussuri.sh
Due: openstack-helm-images-build-openstack-loci-master-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-master-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-master-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-build-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-newton-ubuntu_xenial

Add heat-dashboard to zuul builds
  zuul.d/openstack-loci.yaml
Due: openstack-helm-images-build-openstack-loci-master-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-master-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-master-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-build-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-newton-ubuntu_xenial

Trigger build and promotion for loci images
  zuul.d/openstack-loci.yaml
Due: openstack-helm-images-build-openstack-loci-master-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-master-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-master-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-build-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-newton-ubuntu_xenial

Fix openstack-exporter not supporting TLS
  prometheus-openstack-exporter/exporter/osclient.py
Due: none

Alerta image
  alerta/.env
  alerta/Dockerfile
  alerta/Makefile
  alerta/VERSION
  alerta/build.sh
  alerta/config.json
  alerta/config/alerta.conf.example
  alerta/config/alertad.conf.example
  alerta/config/config.json
  alerta/config/config.json.example
  alerta/docker-entrypoint.sh
  alerta/nginx.conf
  alerta/requirements.txt
  alerta/supervisord.conf
  alerta/tests.sh
  alerta/uwsgi.ini
  alerta/wait-for-it.sh
  alerta/wsgi.py
  zuul.d/alerta.yaml
Due: none

Upgrade etcd to 3.4.3
  ceph-daemon/Dockerfile.ubuntu_bionic
Due: none

Fix TLS support in openstack-exporter osclient
  prometheus-openstack-exporter/exporter/osclient.py
Due: none

Hide the password in nagios error message
  nagios/plugins/query_prometheus_alerts.py
Due: none

Bump ceph release to nautilus
  libvirt/Dockerfile.ubuntu_bionic
Due: openstack-helm-images-build-libvirt, openstack-helm-images-upload-libvirt, openstack-helm-images-promote-libvirt

Update helm to 2.16.9 in minikube image
  minikube-aio/Dockerfile
Due: none

Introduce prometheus-webhook-snmp for Alertmanager
  prometheus-webhook-snmp/Dockerfile
  prometheus-webhook-snmp/Makefile
  prometheus-webhook-snmp/VERSION
  prometheus-webhook-snmp/build.sh
Due: none

Fix alerta promotion job name
  zuul.d/alerta.yaml
Due: none

Introduce pre-review image testing
  zuul.d/alerta.yaml
  zuul.d/base.yaml
  zuul.d/elasticsearch-s3.yaml
  zuul.d/fluentd.yaml
  zuul.d/libvirt.yaml
  zuul.d/mariadb.yaml
  zuul.d/minikube-aio.yaml
  zuul.d/nagios.yaml
  zuul.d/node-problem-detector.yaml
  zuul.d/openstack-loci.yaml
  zuul.d/openvswitch.yaml
  zuul.d/osh-selenium.yaml
  zuul.d/ospurge.yaml
  zuul.d/patroni.yaml
  zuul.d/prometheus-openstack-exporter.yaml
Due: openstack-helm-images-build-libvirt, openstack-helm-images-upload-libvirt, openstack-helm-images-promote-libvirt, openstack-helm-images-mariadb-ubuntu_xenial, openstack-helm-images-build-openstack-loci-master-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-master-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-master-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-build-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-openvswitch-debian, openstack-helm-images-openvswitch-suse_15
