Repository openstack/openstack-helm-images: changes, and which Zuul jobs are due for each by the changed paths.
All: openstack-helm-images-ceph-config-helper-suse_15, openstack-helm-images-ceph-config-helper-ubuntu_xenial, openstack-helm-images-ceph-daemon-ubuntu_xenial, openstack-helm-images-build-libvirt, openstack-helm-images-upload-libvirt, openstack-helm-images-promote-libvirt, openstack-helm-images-mariadb-ubuntu_xenial, openstack-helm-images-build-openstack-loci-master-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-master-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-master-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-build-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-openvswitch-debian, openstack-helm-images-openvswitch-suse_15, openstack-helm-images-tempest-ubuntu_xenial, publish-openstack-helm-images-tempest-ubuntu_xenial, openstack-helm-images-vbmc-centos_7, openstack-helm-images-vbmc-suse_15, publish-openstack-helm-images-vbmc-centos_7, publish-openstack-helm-images-vbmc-suse_15

openstack-helm-images-ceph-config-helper-suse_15:
  parent: openstack-helm-images-ceph-config-helper
  vars:
    distro: suse_15

openstack-helm-images-ceph-config-helper-ubuntu_xenial:
  parent: openstack-helm-images-ceph-config-helper
  vars:
    distro: ubuntu_xenial

openstack-helm-images-ceph-daemon-ubuntu_xenial:
  parent: openstack-helm-images-ceph-daemon
  vars:
    distro: ubuntu_xenial

openstack-helm-images-build-libvirt:
  parent: openstack-helm-images-build
  description: Build libvirt images
  vars:
    docker_images:
    - context: libvirt
      repository: openstackhelm/libvirt
      tags:
      - opensuse_15-latest
      dockerfile: Dockerfile.suse_15
    - context: libvirt
      repository: openstackhelm/libvirt
  ...

openstack-helm-images-upload-libvirt:
  parent: openstack-helm-images-upload
  description: Build and upload libvirt images
  vars:
    docker_images:
    - context: libvirt
      repository: openstackhelm/libvirt
      tags:
      - opensuse_15-latest
      dockerfile: Dockerfile.suse_15
    - context: libvirt
      repository: openstackhelm/libvirt
  ...

openstack-helm-images-promote-libvirt:
  parent: openstack-helm-images-promote
  description: Promote a previously published libvirt image to latest.
  vars:
    docker_images:
    - context: libvirt
      repository: openstackhelm/libvirt
      tags:
      - opensuse_15-latest
      dockerfile: Dockerfile.suse_15
    - context: libvirt
  ...

openstack-helm-images-mariadb-ubuntu_xenial:
  parent: openstack-helm-images-mariadb
  vars:
    distro: ubuntu_xenial

openstack-helm-images-build-openstack-loci-master-ubuntu_xenial:
  parent: openstack-helm-images-build
  description: Build master LOCI images for xenial
  timeout: 5400
  required-projects:
  - openstack/loci
  run: zuul.d/playbooks/build-loci.yml
  vars:
    branchname: master
    shortbranchname: master
    distroname: ubuntu_xenial
  ...

openstack-helm-images-upload-openstack-loci-master-ubuntu_xenial:
  description: Build and upload master LOCI images for xenial
  parent: openstack-helm-images-upload
  timeout: 5400
  required-projects:
  - openstack/loci
  run: zuul.d/playbooks/build-loci.yml
  vars:
    branchname: master
    shortbranchname: master
    distroname: ubuntu_xenial
  ...

openstack-helm-images-promote-openstack-loci-master-ubuntu_xenial:
  parent: openstack-helm-images-promote
  description: Promote previously published loci xenial master images
  vars:
    branchname: master
    shortbranchname: master
    distroname: ubuntu_xenial
    from: gcr.io/google_containers/ubuntu-slim:0.14
    python3: 'no'
  ...

openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial:
  parent: openstack-helm-images-build-openstack-loci-master-ubuntu_xenial
  description: Build rocky LOCI images for xenial
  vars:
    branchname: stable/rocky
    shortbranchname: rocky
    distroname: ubuntu_xenial
    from: gcr.io/google_containers/ubuntu-slim:0.14
    python3: 'no'
  ...

mini-mirror: Create one mirror per repo
  mini-mirror/tools/publish_snapshots.sh
Due: none

mini-mirror: Build aptly from source
  mini-mirror/Dockerfile.ubuntu_bionic
  mini-mirror/Dockerfile.ubuntu_xenial
  mini-mirror/build.sh
  mini-mirror/tools/install_aptly.sh
Due: none

mini-mirror: Preserve codename and label
  mini-mirror/Dockerfile.ubuntu_bionic
  mini-mirror/Dockerfile.ubuntu_xenial
  mini-mirror/build.sh
  mini-mirror/tools/publish_snapshots.sh
Due: none

Revert "mini-mirror: Create one mirror per repo"
  mini-mirror/tools/publish_snapshots.sh
Due: none

Nagios plugin: snmp alarm notfication enhancement
  nagios/plugins/send_service_trap.sh
Due: none

Modify mini-mirror to build from yaml
  mini-mirror/Dockerfile.ubuntu_bionic
  mini-mirror/Dockerfile.ubuntu_xenial
  mini-mirror/README.rst
  mini-mirror/build.sh
  mini-mirror/etc/aptly.conf
  mini-mirror/mini-mirror-sources.yaml
  mini-mirror/sources/aptly-example/squeeze/packages.txt
  mini-mirror/sources/aptly-example/squeeze/source.txt
  mini-mirror/tools/publish_snapshots.sh
Due: none

Nagios elasticsearch plugin fix for the new version of the easticsearch
  nagios/plugins/query_elasticsearch.py
Due: none

Add train release jobs
  zuul.d/openstack-loci.yaml
Due: openstack-helm-images-build-openstack-loci-master-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-master-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-master-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-build-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-newton-ubuntu_xenial

Fix source publishing and publish logic
  mini-mirror/tools/publish_snapshots.sh
Due: none

Build Ceph images with Ceph Nautilus 14.2.7 packages
  ceph-cephfs-provisioner/Dockerfile.ubuntu_bionic
  ceph-config-helper/Dockerfile.ubuntu_bionic
  ceph-daemon/Dockerfile.ubuntu_bionic
  ceph-rbd-provisioner/Dockerfile.ubuntu_bionic
  ceph-utility/Dockerfile.ubuntu_bionic
Due: none

Switch to leap 15.1 together with virtualization repo for libvirt
  libvirt/Dockerfile.suse_15
Due: openstack-helm-images-build-libvirt, openstack-helm-images-upload-libvirt, openstack-helm-images-promote-libvirt

Explicitly install kmod to libvirt image
  libvirt/ubuntu-install-libvirt.sh
Due: openstack-helm-images-build-libvirt, openstack-helm-images-upload-libvirt, openstack-helm-images-promote-libvirt

[mariadb] Update to version 10.2.31
  mariadb/Dockerfile.ubuntu_xenial
Due: openstack-helm-images-mariadb-ubuntu_xenial

[mariadb] Update to version 10.4.12
  mariadb/Dockerfile.ubuntu_xenial
Due: openstack-helm-images-mariadb-ubuntu_xenial

Enhance the ES plugin to check the results count field.
  nagios/plugins/query_elasticsearch.py
Due: none

Add Placement image build
  zuul.d/openstack-loci.yaml
Due: openstack-helm-images-build-openstack-loci-master-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-master-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-master-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-build-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-newton-ubuntu_xenial

Append the domain name to the host name in Nagios dashboard
  nagios/plugins/define-nagios-hosts.py
Due: none

Nagios prometheus plugin connections errors
  nagios/plugins/query_prometheus_alerts.py
Due: none

Replace node_name with host_name in nagios plugin
  nagios/plugins/define-nagios-hosts.py
Due: none

Change condition in define-host plugin
  nagios/plugins/define-nagios-hosts.py
Due: none

Fluentd: Add fluent-plugin-prometheus
  fluentd/Dockerfile.debian
Due: none

Nagios python and ubuntu version upgrades
  nagios/Dockerfile.ubuntu_bionic
  nagios/build.sh
  nagios/plugins/nagiosutil.py
Due: none

Add base image overrides to mini-mirror image
  mini-mirror/Dockerfile.ubuntu_bionic
  mini-mirror/Dockerfile.ubuntu_xenial
  mini-mirror/build.sh
Due: none

[ussuri][goal] Updates for python 2.7 drop
  tox.ini
Due: none

Bump Fluentd Version
  fluentd/Dockerfile.debian
Due: none

[fix] Openstack Exporter - Handle Duplicate Values
  prometheus-openstack-exporter/exporter/base.py
  prometheus-openstack-exporter/exporter/check_os_api.py
  prometheus-openstack-exporter/exporter/cinder_services.py
  prometheus-openstack-exporter/exporter/hypervisor_stats.py
  prometheus-openstack-exporter/exporter/main.py
  prometheus-openstack-exporter/exporter/neutron_agents.py
  prometheus-openstack-exporter/exporter/nova_services.py
  prometheus-openstack-exporter/exporter/oscache.py
  prometheus-openstack-exporter/exporter/osclient.py
Due: none

Cleanup py27 support and docs
  doc/requirements.txt
  doc/source/conf.py
  doc/source/index.rst
  releasenotes/source/conf.py
  setup.cfg
  setup.py
  tox.ini
Due: none

Nagios docker update
  nagios/Dockerfile.ubuntu_bionic
  nagios/Dockerfile.ubuntu_xenial
Due: none

Build Ceph images with Ceph Nautilus 14.2.8 packages
  ceph-cephfs-provisioner/Dockerfile.ubuntu_bionic
  ceph-config-helper/Dockerfile.ubuntu_bionic
  ceph-daemon/Dockerfile.ubuntu_bionic
  ceph-rbd-provisioner/Dockerfile.ubuntu_bionic
  ceph-utility/Dockerfile.ubuntu_bionic
Due: none

Nagios: The plugin script is updated to hide password in url
  nagios/plugins/check_rest_get_api.py
Due: none

Add a deliminator to reduce nagios look up
  nagios/scripts/entrypoint.sh
Due: none

Add Project Specific Contributor and PTL Docs
  CONTRIBUTING.rst
  README.rst
  doc/source/contributor/contributing.rst
  doc/source/index.rst
Due: none

Fix typo in nagios entrypoint script
  nagios/scripts/entrypoint.sh
Due: none

Align Nagios plugins with Python3
  nagios/plugins/check_exporter_health_metric.py
  nagios/plugins/define-nagios-hosts.py
Due: none

Add base image for Openstack images
  zuul.d/openstack-loci.yaml
  zuul.d/playbooks/Dockerfile_base
  zuul.d/playbooks/build-loci.yml
Due: openstack-helm-images-build-openstack-loci-master-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-master-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-master-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-build-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-newton-ubuntu_xenial

Add build-train loci script
  openstack/loci/build-train.sh
Due: openstack-helm-images-build-openstack-loci-master-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-master-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-master-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-build-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-newton-ubuntu_xenial

Remove OSH Authors copyright
  Makefile
  mini-mirror/build.sh
  nagios/plugins/check_exporter_health_metric.py
  nagios/plugins/nagiosutil.py
  nagios/plugins/query_elasticsearch.py
  nagios/plugins/query_prometheus_alerts.py
  nagios/plugins/send_http_post_event.py
  prometheus-openstack-exporter/exporter/base.py
  prometheus-openstack-exporter/exporter/check_os_api.py
  prometheus-openstack-exporter/exporter/cinder_services.py
  prometheus-openstack-exporter/exporter/hypervisor_stats.py
  prometheus-openstack-exporter/exporter/main.py
  prometheus-openstack-exporter/exporter/neutron_agents.py
  prometheus-openstack-exporter/exporter/nova_services.py
  prometheus-openstack-exporter/exporter/oscache.py
  prometheus-openstack-exporter/exporter/osclient.py
  zuul.d/elasticsearch-s3.yaml
  zuul.d/fluentd.yaml
  zuul.d/nagios.yaml
  zuul.d/prometheus-openstack-exporter.yaml
Due: none

Update ovs dpdk image to dpdk version 18.11.5
  openvswitch/Dockerfile.ubuntu_bionic-dpdk
Due: none

Add TaaS to stein neutron images
  openstack/loci/build.sh
  zuul.d/openstack-loci.yaml
Due: openstack-helm-images-build-openstack-loci-master-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-master-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-master-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-build-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-newton-ubuntu_xenial

Add sriov support packages to generic neutron image
  openstack/loci/build.sh
Due: openstack-helm-images-build-openstack-loci-master-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-master-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-master-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-build-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-newton-ubuntu_xenial

Path conditions:
  openstack-helm-images-ceph-config-helper-suse_15: any of: ^ceph-config-helper/build.sh, ^ceph-config-helper/Dockerfile.suse_15$, ^zuul.d/ceph-config-helper.yaml
  openstack-helm-images-ceph-config-helper-ubuntu_xenial: any of: ^ceph-config-helper/build.sh, ^ceph-config-helper/Dockerfile.ubuntu_xenial$, ^zuul.d/ceph-config-helper.yaml
  openstack-helm-images-ceph-daemon-ubuntu_xenial: any of: ^ceph-daemon/build.sh, ^ceph-daemon/Dockerfile.ubuntu_xenial$, ^zuul.d/ceph-daemon.yaml
  openstack-helm-images-build-libvirt: any of: libvirt/.*, zuul.d/libvirt.yaml
  openstack-helm-images-upload-libvirt: any of: libvirt/.*, zuul.d/libvirt.yaml
  openstack-helm-images-promote-libvirt: any of: libvirt/.*, zuul.d/libvirt.yaml
  openstack-helm-images-mariadb-ubuntu_xenial: any of: ^mariadb/build.sh, ^mariadb/Dockerfile.ubuntu_xenial$, ^zuul.d/mariadb.yaml
  openstack-helm-images-build-openstack-loci-master-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-upload-openstack-loci-master-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-promote-openstack-loci-master-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-build-openstack-loci-rocky-opensuse_15: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-upload-openstack-loci-rocky-opensuse_15: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-promote-openstack-loci-rocky-opensuse_15: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-build-openstack-loci-newton-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-upload-openstack-loci-newton-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-promote-openstack-loci-newton-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-openvswitch-debian: any of: ^openvswitch/build.sh, ^openvswitch/Dockerfile.debian$, ^zuul.d/openvswitch.yaml
  openstack-helm-images-openvswitch-suse_15: any of: ^openvswitch/build.sh, ^openvswitch/Dockerfile.suse_15$, ^zuul.d/openvswitch.yaml
  openstack-helm-images-tempest-ubuntu_xenial: any of: ^tempest/build.sh, ^tempest/Dockerfile.ubuntu_xenial$, ^zuul.d/tempest.yaml
  publish-openstack-helm-images-tempest-ubuntu_xenial: any of: ^tempest/build.sh, ^tempest/Dockerfile.ubuntu_xenial$, ^zuul.d/tempest.yaml
  openstack-helm-images-vbmc-centos_7: any of: ^vbmc/build.sh, ^vbmc/Dockerfile.centos_7$, ^zuul.d/vbmc.yaml
  openstack-helm-images-vbmc-suse_15: any of: ^vbmc/Dockerfile.suse_15, ^vbmc/build.sh, ^zuul.d/vbmc.yaml
  publish-openstack-helm-images-vbmc-centos_7: any of: ^vbmc/build.sh, ^vbmc/Dockerfile.centos_7$, ^zuul.d/vbmc.yaml
  publish-openstack-helm-images-vbmc-suse_15: any of: ^vbmc/Dockerfile.suse_15, ^vbmc/build.sh, ^zuul.d/vbmc.yaml
