Repository openstack/openstack-helm-images: changes, and which Zuul jobs are due for each by the changed paths.
All: openstack-helm-images-ceph-config-helper-suse_15, openstack-helm-images-ceph-config-helper-ubuntu_xenial, openstack-helm-images-ceph-daemon-ubuntu_xenial, openstack-helm-images-build-libvirt, openstack-helm-images-upload-libvirt, openstack-helm-images-promote-libvirt, openstack-helm-images-mariadb-ubuntu_xenial, openstack-helm-images-build-openstack-loci-master-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-master-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-master-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-build-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-openvswitch-debian, openstack-helm-images-openvswitch-suse_15, openstack-helm-images-tempest-ubuntu_xenial, publish-openstack-helm-images-tempest-ubuntu_xenial, openstack-helm-images-vbmc-centos_7, openstack-helm-images-vbmc-suse_15, publish-openstack-helm-images-vbmc-centos_7, publish-openstack-helm-images-vbmc-suse_15

openstack-helm-images-ceph-config-helper-suse_15:
  parent: openstack-helm-images-ceph-config-helper
  vars:
    distro: suse_15

openstack-helm-images-ceph-config-helper-ubuntu_xenial:
  parent: openstack-helm-images-ceph-config-helper
  vars:
    distro: ubuntu_xenial

openstack-helm-images-ceph-daemon-ubuntu_xenial:
  parent: openstack-helm-images-ceph-daemon
  vars:
    distro: ubuntu_xenial

openstack-helm-images-build-libvirt:
  parent: openstack-helm-images-build
  description: Build libvirt images
  vars:
    docker_images:
    - context: libvirt
      repository: openstackhelm/libvirt
      tags:
      - opensuse_15-latest
      dockerfile: Dockerfile.suse_15
    - context: libvirt
      repository: openstackhelm/libvirt
  ...

openstack-helm-images-upload-libvirt:
  parent: openstack-helm-images-upload
  description: Build and upload libvirt images
  vars:
    docker_images:
    - context: libvirt
      repository: openstackhelm/libvirt
      tags:
      - opensuse_15-latest
      dockerfile: Dockerfile.suse_15
    - context: libvirt
      repository: openstackhelm/libvirt
  ...

openstack-helm-images-promote-libvirt:
  parent: openstack-helm-images-promote
  description: Promote a previously published libvirt image to latest.
  vars:
    docker_images:
    - context: libvirt
      repository: openstackhelm/libvirt
      tags:
      - opensuse_15-latest
      dockerfile: Dockerfile.suse_15
    - context: libvirt
  ...

openstack-helm-images-mariadb-ubuntu_xenial:
  parent: openstack-helm-images-mariadb
  vars:
    distro: ubuntu_xenial

openstack-helm-images-build-openstack-loci-master-ubuntu_xenial:
  parent: openstack-helm-images-build
  description: Build master LOCI images for xenial
  timeout: 5400
  required-projects:
  - openstack/loci
  run: zuul.d/playbooks/build-loci.yml
  vars:
    branchname: master
    shortbranchname: master
    distroname: ubuntu_xenial
  ...

openstack-helm-images-upload-openstack-loci-master-ubuntu_xenial:
  description: Build and upload master LOCI images for xenial
  parent: openstack-helm-images-upload
  timeout: 5400
  required-projects:
  - openstack/loci
  run: zuul.d/playbooks/build-loci.yml
  vars:
    branchname: master
    shortbranchname: master
    distroname: ubuntu_xenial
  ...

openstack-helm-images-promote-openstack-loci-master-ubuntu_xenial:
  parent: openstack-helm-images-promote
  description: Promote previously published loci xenial master images
  vars:
    branchname: master
    shortbranchname: master
    distroname: ubuntu_xenial
    from: gcr.io/google_containers/ubuntu-slim:0.14
    python3: 'no'
  ...

openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial:
  parent: openstack-helm-images-build-openstack-loci-master-ubuntu_xenial
  description: Build rocky LOCI images for xenial
  vars:
    branchname: stable/rocky
    shortbranchname: rocky
    distroname: ubuntu_xenial
    from: gcr.io/google_containers/ubuntu-slim:0.14
    python3: 'no'
  ...

Elasticsearch-s3: Add jq
  elasticsearch-s3/Dockerfile.5_6_4
Due: none

Nagios: Updated the plugin to handle warnings
  nagios/plugins/query_prometheus_alerts.py
Due: none

Add capability to source compile dpdk/ovs
  Makefile
  openvswitch/Dockerfile.ubuntu_bionic-dpdk
Due: none

Fix correct shebang for libvirt.
  libvirt/ubuntu-install-libvirt.sh
Due: openstack-helm-images-build-libvirt, openstack-helm-images-upload-libvirt, openstack-helm-images-promote-libvirt

To enhance the nagios elasticsearch plugin
  nagios/plugins/query_elasticsearch.py
Due: none

Add Kafka output plugin to Fluentd image
  fluentd/Dockerfile.debian
Due: none

Build placement in OSH-images
  zuul.d/openstack-loci.yaml
Due: openstack-helm-images-build-openstack-loci-master-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-master-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-master-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-build-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-newton-ubuntu_xenial

Pin Patroni to v1.5.6
  patroni/Dockerfile.ubuntu_xenial
  patroni/build.sh
Due: none

Makefile and Docker file for ospurge containers
  Makefile
  README_MAKEFILE
  doc/source/ospurge.rst
  ospurge/Dockerfile.ubuntu_bionic
  ospurge/build.sh
  zuul.d/ospurge.yaml
Due: none

Add kubectl to Nagios image
  nagios/Dockerfile.ubuntu_xenial
Due: none

(minimirror) Create Bionic based minimirror image
  Makefile
  mini-mirror/Dockerfile.ubuntu_bionic
  zuul.d/mini-mirror.yaml
Due: none

Monitoring PVC-PV-RBD and mapping them
  nagios/plugins/pvc_pv_rbd_monitoring.py
Due: none

Update osh-selenium for python3
  osh-selenium/Dockerfile.ubuntu_bionic
  osh-selenium/build.sh
  zuul.d/osh-selenium.yaml
Due: none

Python 2.7 to 3.x for openstack-exporter
  prometheus-openstack-exporter/Dockerfile.ubuntu_bionic
  prometheus-openstack-exporter/Dockerfile.ubuntu_xenial
  prometheus-openstack-exporter/build.sh
  prometheus-openstack-exporter/exporter/base.py
  prometheus-openstack-exporter/exporter/check_os_api.py
  prometheus-openstack-exporter/exporter/cinder_services.py
  prometheus-openstack-exporter/exporter/hypervisor_stats.py
  prometheus-openstack-exporter/exporter/main.py
  prometheus-openstack-exporter/exporter/neutron_agents.py
  prometheus-openstack-exporter/exporter/nova_services.py
  prometheus-openstack-exporter/exporter/oscache.py
  prometheus-openstack-exporter/exporter/osclient.py
  zuul.d/prometheus-openstack-exporter.yaml
Due: none

Include default timeout values to the nagios plugins
  nagios/plugins/query_elasticsearch.py
  nagios/plugins/query_prometheus_alerts.py
Due: none

Correct openstack-exporter image build job
  zuul.d/prometheus-openstack-exporter.yaml
Due: none

Update Kubernetes to 1.16.2
  ceph-config-helper/Dockerfile.suse_15
  ceph-config-helper/Dockerfile.ubuntu_xenial
  ceph-daemon/Dockerfile.ubuntu_xenial
  ceph-utility/Dockerfile.ubuntu_xenial
Due: openstack-helm-images-ceph-config-helper-suse_15, openstack-helm-images-ceph-config-helper-ubuntu_xenial, openstack-helm-images-ceph-daemon-ubuntu_xenial

Change image to use python 3
  ceph-config-helper/Dockerfile.ubuntu_xenial
  ceph-daemon/Dockerfile.ubuntu_xenial
  mariadb/Dockerfile.ubuntu_xenial
  openvswitch/Dockerfile.ubuntu_bionic-dpdk
  tempest/Dockerfile.opensuse_15
  tempest/Dockerfile.ubuntu_xenial
Due: openstack-helm-images-ceph-config-helper-ubuntu_xenial, openstack-helm-images-ceph-daemon-ubuntu_xenial, openstack-helm-images-mariadb-ubuntu_xenial, openstack-helm-images-tempest-ubuntu_xenial, publish-openstack-helm-images-tempest-ubuntu_xenial

tox: Keeping going with docs
  CONTRIBUTING.rst
  doc/requirements.txt
  tox.ini
Due: none

Nagios http POST event handler timeout
  nagios/plugins/send_http_post_event.py
Due: none

mini-mirror: Use latest aptly version
  mini-mirror/Dockerfile.ubuntu_bionic
  mini-mirror/Dockerfile.ubuntu_xenial
  mini-mirror/tools/install_aptly.sh
Due: none

mini-mirror: Add retries to package downloads
  mini-mirror/tools/publish_snapshots.sh
Due: none

Update Ceph Docker images to Ubuntu 18.04 and Ceph 14.2.4
  ceph-cephfs-provisioner/Dockerfile.ubuntu_bionic
  ceph-cephfs-provisioner/build.sh
  ceph-config-helper/Dockerfile.ubuntu_bionic
  ceph-config-helper/build.sh
  ceph-daemon/Dockerfile.ubuntu_bionic
  ceph-daemon/build.sh
  ceph-rbd-provisioner/Dockerfile.ubuntu_bionic
  ceph-rbd-provisioner/build.sh
  ceph-utility/Dockerfile.ubuntu_bionic
  ceph-utility/build.sh
Due: openstack-helm-images-ceph-config-helper-suse_15, openstack-helm-images-ceph-config-helper-ubuntu_xenial, openstack-helm-images-ceph-daemon-ubuntu_xenial

Update to use relative imports
  prometheus-openstack-exporter/exporter/check_os_api.py
  prometheus-openstack-exporter/exporter/cinder_services.py
  prometheus-openstack-exporter/exporter/hypervisor_stats.py
  prometheus-openstack-exporter/exporter/main.py
  prometheus-openstack-exporter/exporter/neutron_agents.py
  prometheus-openstack-exporter/exporter/nova_services.py
Due: none

Nagios; Update check_exporter_health_metric plugin
  nagios/plugins/check_exporter_health_metric.py
Due: none

Add elasticsearch 7.1.0 image and update jq install
  elasticsearch-s3/Dockerfile.7_1_0
  zuul.d/elasticsearch-s3.yaml
Due: none

Revert the Xenial-tagged images to Xenial
  ceph-cephfs-provisioner/build.sh
  ceph-config-helper/build.sh
  ceph-daemon/build.sh
  ceph-rbd-provisioner/build.sh
  ceph-utility/build.sh
Due: openstack-helm-images-ceph-config-helper-suse_15, openstack-helm-images-ceph-config-helper-ubuntu_xenial, openstack-helm-images-ceph-daemon-ubuntu_xenial

Elasticsearch: Update base image
  elasticsearch-s3/Dockerfile.7_1_0
Due: none

Update source compile version for dpdk/ovs
  openvswitch/Dockerfile.ubuntu_bionic-dpdk
Due: none

Add tempest bionic image
  tempest/Dockerfile.ubuntu_bionic
  zuul.d/tempest.yaml
Due: openstack-helm-images-tempest-ubuntu_xenial, publish-openstack-helm-images-tempest-ubuntu_xenial

Add image build context for Ceph bionic images
  zuul.d/ceph-cephfs-provisioner.yaml
  zuul.d/ceph-config-helper.yaml
  zuul.d/ceph-daemon.yaml
  zuul.d/ceph-rbd-provisioner.yaml
  zuul.d/ceph-utility.yaml
Due: openstack-helm-images-ceph-config-helper-suse_15, openstack-helm-images-ceph-config-helper-ubuntu_xenial, openstack-helm-images-ceph-daemon-ubuntu_xenial

Revert "Update to use relative imports"
  prometheus-openstack-exporter/exporter/check_os_api.py
  prometheus-openstack-exporter/exporter/cinder_services.py
  prometheus-openstack-exporter/exporter/hypervisor_stats.py
  prometheus-openstack-exporter/exporter/main.py
  prometheus-openstack-exporter/exporter/neutron_agents.py
  prometheus-openstack-exporter/exporter/nova_services.py
Due: none

Set the default build to Bionic for Ceph images
  ceph-cephfs-provisioner/build.sh
  ceph-config-helper/build.sh
  ceph-daemon/build.sh
  ceph-rbd-provisioner/build.sh
  ceph-utility/build.sh
Due: openstack-helm-images-ceph-config-helper-suse_15, openstack-helm-images-ceph-config-helper-ubuntu_xenial, openstack-helm-images-ceph-daemon-ubuntu_xenial

fixed NO_PROXY option for docker command
  mini-mirror/build.sh
Due: none

Fix build script arg and re-order Dockerfile
  mini-mirror/Dockerfile.ubuntu_bionic
  mini-mirror/Dockerfile.ubuntu_xenial
  mini-mirror/tools/install_aptly.sh
Due: none

Elasticsearch: Add elasticsearch python packages
  elasticsearch-s3/Dockerfile.7_1_0
Due: none

Fix IMAGE variable scope issue
  Makefile
  ceph-config-helper/Dockerfile.ubuntu_bionic
  ceph-daemon/Dockerfile.ubuntu_bionic
Due: none

[ceph-utility] Change apt-key add logic
  ceph-utility/Dockerfile.ubuntu_bionic
Due: none

Update Ceph images to Nautilus 14.2.5 packages
  ceph-cephfs-provisioner/Dockerfile.ubuntu_bionic
  ceph-config-helper/Dockerfile.ubuntu_bionic
  ceph-daemon/Dockerfile.ubuntu_bionic
  ceph-rbd-provisioner/Dockerfile.ubuntu_bionic
  ceph-utility/Dockerfile.ubuntu_bionic
Due: none

Nova: add net-tools package
  openstack/loci/build.sh
  zuul.d/openstack-loci.yaml
Due: openstack-helm-images-build-openstack-loci-master-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-master-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-master-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-build-openstack-loci-rocky-opensuse_15, openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-rocky-opensuse_15, openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-rocky-opensuse_15, openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-build-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-upload-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-promote-openstack-loci-newton-ubuntu_xenial

Path conditions:
  openstack-helm-images-ceph-config-helper-suse_15: any of: ^ceph-config-helper/build.sh, ^ceph-config-helper/Dockerfile.suse_15$, ^zuul.d/ceph-config-helper.yaml
  openstack-helm-images-ceph-config-helper-ubuntu_xenial: any of: ^ceph-config-helper/build.sh, ^ceph-config-helper/Dockerfile.ubuntu_xenial$, ^zuul.d/ceph-config-helper.yaml
  openstack-helm-images-ceph-daemon-ubuntu_xenial: any of: ^ceph-daemon/build.sh, ^ceph-daemon/Dockerfile.ubuntu_xenial$, ^zuul.d/ceph-daemon.yaml
  openstack-helm-images-build-libvirt: any of: libvirt/.*, zuul.d/libvirt.yaml
  openstack-helm-images-upload-libvirt: any of: libvirt/.*, zuul.d/libvirt.yaml
  openstack-helm-images-promote-libvirt: any of: libvirt/.*, zuul.d/libvirt.yaml
  openstack-helm-images-mariadb-ubuntu_xenial: any of: ^mariadb/build.sh, ^mariadb/Dockerfile.ubuntu_xenial$, ^zuul.d/mariadb.yaml
  openstack-helm-images-build-openstack-loci-master-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-upload-openstack-loci-master-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-promote-openstack-loci-master-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-build-openstack-loci-rocky-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-build-openstack-loci-rocky-opensuse_15: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-upload-openstack-loci-rocky-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-upload-openstack-loci-rocky-opensuse_15: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-promote-openstack-loci-rocky-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-promote-openstack-loci-rocky-opensuse_15: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-build-openstack-loci-queens-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-upload-openstack-loci-queens-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-promote-openstack-loci-queens-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-build-openstack-loci-pike-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-upload-openstack-loci-pike-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-promote-openstack-loci-pike-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-build-openstack-loci-ocata-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-upload-openstack-loci-ocata-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-promote-openstack-loci-ocata-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-build-openstack-loci-newton-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-upload-openstack-loci-newton-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-promote-openstack-loci-newton-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-openvswitch-debian: any of: ^openvswitch/build.sh, ^openvswitch/Dockerfile.debian$, ^zuul.d/openvswitch.yaml
  openstack-helm-images-openvswitch-suse_15: any of: ^openvswitch/build.sh, ^openvswitch/Dockerfile.suse_15$, ^zuul.d/openvswitch.yaml
  openstack-helm-images-tempest-ubuntu_xenial: any of: ^tempest/build.sh, ^tempest/Dockerfile.ubuntu_xenial$, ^zuul.d/tempest.yaml
  publish-openstack-helm-images-tempest-ubuntu_xenial: any of: ^tempest/build.sh, ^tempest/Dockerfile.ubuntu_xenial$, ^zuul.d/tempest.yaml
  openstack-helm-images-vbmc-centos_7: any of: ^vbmc/build.sh, ^vbmc/Dockerfile.centos_7$, ^zuul.d/vbmc.yaml
  openstack-helm-images-vbmc-suse_15: any of: ^vbmc/Dockerfile.suse_15, ^vbmc/build.sh, ^zuul.d/vbmc.yaml
  publish-openstack-helm-images-vbmc-centos_7: any of: ^vbmc/build.sh, ^vbmc/Dockerfile.centos_7$, ^zuul.d/vbmc.yaml
  publish-openstack-helm-images-vbmc-suse_15: any of: ^vbmc/Dockerfile.suse_15, ^vbmc/build.sh, ^zuul.d/vbmc.yaml
