Repository openstack/openstack-helm-images: changes, and which Zuul jobs are due for each by the changed paths.
All: openstack-helm-images-libvirt-ubuntu_xenial, openstack-helm-images-libvirt-suse_15, openstack-helm-images-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-openstack-loci-queens-suse_leap15, openstack-helm-images-vbmc-centos_7

openstack-helm-images-libvirt-ubuntu_xenial:
  parent: openstack-helm-images-libvirt
  vars:
    distro: ubuntu_xenial

openstack-helm-images-libvirt-suse_15:
  parent: openstack-helm-images-libvirt
  vars:
    distro: suse_15

openstack-helm-images-openstack-loci-newton-ubuntu_xenial:
  parent: openstack-helm-images-openstack-loci-newton

openstack-helm-images-openstack-loci-ocata-ubuntu_xenial:
  parent: openstack-helm-images-openstack-loci-ocata

openstack-helm-images-openstack-loci-pike-ubuntu_xenial:
  parent: openstack-helm-images-openstack-loci-pike

openstack-helm-images-openstack-loci-queens-ubuntu_xenial:
  parent: openstack-helm-images-openstack-loci-queens

openstack-helm-images-openstack-loci-queens-suse_leap15:
  parent: openstack-helm-images-openstack-loci-queens
  vars:
    build_environment:
      BASE_IMAGE: leap15

openstack-helm-images-vbmc-centos_7:
  parent: openstack-helm-images-vbmc
  vars:
    distro: centos_7

Add openSUSE Leap 15 images
  zuul.d/openstack-loci.yaml
Due: openstack-helm-images-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-openstack-loci-queens-suse_leap15

Add openSUSE Leap 15 ceph-config-helper image
  ceph-config-helper/Dockerfile.suse_15
  doc/source/ceph-config-helper.rst
  zuul.d/ceph-config-helper.yaml
Due: none

Fix periodics
  zuul.d/ceph-config-helper.yaml
  zuul.d/gate-utils.yaml
  zuul.d/libvirt.yaml
  zuul.d/mariadb.yaml
  zuul.d/openstack-loci.yaml
  zuul.d/openvswitch.yaml
  zuul.d/tempest.yaml
  zuul.d/vbmc.yaml
Due: openstack-helm-images-libvirt-ubuntu_xenial, openstack-helm-images-libvirt-suse_15, openstack-helm-images-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-openstack-loci-queens-suse_leap15, openstack-helm-images-vbmc-centos_7

Update the home-page to openstack-helm-images
  setup.cfg
Due: none

Add s3cmd to the ceph-config-helper dockerfile
  ceph-config-helper/Dockerfile.suse_15
  ceph-config-helper/Dockerfile.ubuntu_xenial
Due: none

Add Ceph Daemon image with Mimic support
  ceph-daemon/Dockerfile.ubuntu_xenial
  ceph-daemon/build.sh
Due: none

Add zuul checks and docs for ceph-daemon
  doc/source/ceph-daemon.rst
  zuul.d/ceph-daemon.yaml
Due: none

Publish images on DockerHub
  zuul.d/ceph-config-helper.yaml
  zuul.d/gate-utils.yaml
  zuul.d/libvirt.yaml
  zuul.d/mariadb.yaml
  zuul.d/openvswitch.yaml
  zuul.d/playbooks/publish.yml
  zuul.d/secrets.yaml
  zuul.d/tempest.yaml
  zuul.d/vbmc.yaml
Due: openstack-helm-images-libvirt-ubuntu_xenial, openstack-helm-images-libvirt-suse_15, openstack-helm-images-vbmc-centos_7

Clear parallel actions from previous install
  openstack/loci/build.sh
Due: openstack-helm-images-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-openstack-loci-queens-suse_leap15

Add mini-mirror image
  mini-mirror/Dockerfile.ubuntu
  mini-mirror/README.rst
  mini-mirror/build.sh
  mini-mirror/etc/aptly.conf
  mini-mirror/sources/aptly-example/packages.txt
  mini-mirror/sources/aptly-example/source.txt
  mini-mirror/tools/publish_snapshots.sh
  zuul.d/mini-mirror.yaml
Due: none

Makefile and Docker file for ceph containers.
  Makefile
  README_MAKEFILE
  ceph-config-helper/Dockerfile.suse_15
  ceph-config-helper/Dockerfile.ubuntu_xenial
  ceph-daemon/Dockerfile.ubuntu_xenial
  ceph-utility/Dockerfile.ubuntu_xenial
  ceph-utility/build.sh
  libvirt/Dockerfile.ubuntu_xenial
  zuul.d/ceph-utility.yaml
Due: openstack-helm-images-libvirt-ubuntu_xenial

[CEPH UTILITY] Add missing support binaries
  ceph-utility/Dockerfile.ubuntu_xenial
Due: none

Add EXTRA_BUILD_ARGS when build images with make
  Makefile
Due: none

Makefile: Update defaults
  Makefile
Due: none

[CEPH] Add perccli utility to ceph-daemon image
  ceph-daemon/Dockerfile.ubuntu_xenial
Due: none

mini-mirror: Add support for multi-dist publishing
  mini-mirror/README.rst
  mini-mirror/sources/aptly-example/squeeze/packages.txt
  mini-mirror/sources/aptly-example/squeeze/source.txt
  mini-mirror/tools/publish_snapshots.sh
Due: none

Fix typo in argument name
  libvirt/build.sh
Due: openstack-helm-images-libvirt-ubuntu_xenial, openstack-helm-images-libvirt-suse_15

Added some checks for the case 'requirement' is not part of BUILD_PROJECTS
  openstack/loci/build.sh
Due: openstack-helm-images-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-openstack-loci-queens-suse_leap15

Use infra pipelines and roles
  mini-mirror/Dockerfile.ubuntu_xenial
  mini-mirror/build.sh
  zuul.d/base-jobs.yaml
  zuul.d/base-project.yaml
  zuul.d/base.yaml
  zuul.d/ceph-config-helper.yaml
  zuul.d/ceph-daemon.yaml
  zuul.d/ceph-utility.yaml
  zuul.d/gate-utils.yaml
  zuul.d/libvirt.yaml
  zuul.d/mariadb.yaml
  zuul.d/mini-mirror.yaml
  zuul.d/openstack-loci.yaml
  zuul.d/openvswitch.yaml
  zuul.d/secrets.yaml
  zuul.d/tempest.yaml
  zuul.d/vbmc.yaml
Due: openstack-helm-images-libvirt-ubuntu_xenial, openstack-helm-images-libvirt-suse_15, openstack-helm-images-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-openstack-loci-queens-suse_leap15, openstack-helm-images-vbmc-centos_7

Zuul: Update dockerhub credentials and remove newline from secret
  zuul.d/base.yaml
Due: none

[CEPH] Update the Ceph repo and key to be arguements
  ceph-config-helper/Dockerfile.ubuntu_xenial
  ceph-daemon/Dockerfile.ubuntu_xenial
  ceph-utility/Dockerfile.ubuntu_xenial
  libvirt/Dockerfile.ubuntu_xenial
Due: openstack-helm-images-libvirt-ubuntu_xenial

mini-mirror: Allow per-source Aptly config files
  mini-mirror/README.rst
  mini-mirror/tools/publish_snapshots.sh
Due: none

Do not pass the project name to bindep profiles
  openstack/loci/build.sh
Due: openstack-helm-images-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-openstack-loci-queens-suse_leap15

Update image names
  releasenotes/notes/image-name-convention-3acbf8dddd42427a.yaml
  zuul.d/ceph-config-helper.yaml
  zuul.d/ceph-daemon.yaml
  zuul.d/ceph-utility.yaml
  zuul.d/gate-utils.yaml
  zuul.d/mariadb.yaml
  zuul.d/mini-mirror.yaml
  zuul.d/openvswitch.yaml
  zuul.d/tempest.yaml
  zuul.d/vbmc.yaml
Due: openstack-helm-images-vbmc-centos_7

Bump libvirt-bin version for ubuntu xenial
  libvirt/Dockerfile.ubuntu_xenial
Due: openstack-helm-images-libvirt-ubuntu_xenial

libvirt: Stick to 4.0.0 version located in main repository
  libvirt/Dockerfile.suse_15
Due: openstack-helm-images-libvirt-suse_15

Publish LOCI images
  zuul.d/openstack-loci.yaml
  zuul.d/playbooks/Dockerfile
  zuul.d/playbooks/build-loci.yml
  zuul.d/playbooks/docker-build.yml
  zuul.d/playbooks/loci-build.yml
  zuul.d/playbooks/pre-loci-build.yml
  zuul.d/playbooks/pre-run.yml
  zuul.d/playbooks/publish.yml
Due: openstack-helm-images-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-openstack-loci-queens-suse_leap15

Add SUSE Leap 15 Rocky images
  zuul.d/openstack-loci.yaml
Due: openstack-helm-images-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-openstack-loci-queens-suse_leap15

Improve performance for building
  zuul.d/openstack-loci.yaml
  zuul.d/playbooks/build-loci.yml
Due: openstack-helm-images-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-openstack-loci-queens-suse_leap15

Promote OpenSUSE images
  zuul.d/openstack-loci.yaml
Due: openstack-helm-images-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-openstack-loci-queens-suse_leap15

Fix inconsistent image name in libvirt
  zuul.d/libvirt.yaml
Due: openstack-helm-images-libvirt-ubuntu_xenial, openstack-helm-images-libvirt-suse_15

Add rocky release script
  openstack/loci/build-rocky.sh
Due: openstack-helm-images-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-openstack-loci-queens-suse_leap15

Adding support for DPDK to openvswitch image
  openvswitch/Dockerfile.debian
Due: none

[Ceph] Update Ceph repository and key
  ceph-config-helper/Dockerfile.ubuntu_xenial
  ceph-daemon/Dockerfile.ubuntu_xenial
  ceph-utility/Dockerfile.ubuntu_xenial
Due: none

Makefile and Docker file for calicoctl-utility containers
  Makefile
  README_MAKEFILE
  calicoctl-utility/Dockerfile.alpine
  calicoctl-utility/build.sh
  doc/source/calicoctl-utility.rst
  zuul.d/calicoctl-utility.yaml
Due: none

Add tempest suse image and zuul job
  tempest/Cloud:OpenStack:Master-openSUSE_Leap_15.0.gpgkey
  tempest/Dockerfile.opensuse_15
  zuul.d/tempest.yaml
Due: none

OpenDev Migration Patch
  .gitreview
  zuul.d/openstack-loci.yaml
  zuul.d/playbooks/build-loci.yml
Due: openstack-helm-images-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-openstack-loci-queens-suse_leap15

Replace git.openstack.org URLs with opendev.org URLs
  README.rst
  tox.ini
Due: none

This PS installs apt-transport-https ca-certificates packages before adding ceph repo. Without this Jenkins is having issues building images
  ceph-config-helper/Dockerfile.ubuntu_xenial
  ceph-daemon/Dockerfile.ubuntu_xenial
  ceph-utility/Dockerfile.ubuntu_xenial
Due: none

Add SUSE Leap 15 Rocky image for Barbican
  zuul.d/openstack-loci.yaml
Due: openstack-helm-images-openstack-loci-newton-ubuntu_xenial, openstack-helm-images-openstack-loci-ocata-ubuntu_xenial, openstack-helm-images-openstack-loci-pike-ubuntu_xenial, openstack-helm-images-openstack-loci-queens-ubuntu_xenial, openstack-helm-images-openstack-loci-queens-suse_leap15

Path conditions:
  openstack-helm-images-libvirt-ubuntu_xenial: any of: ^libvirt/build.sh, ^libvirt/Dockerfile.ubuntu_xenial$, ^zuul.d/libvirt.yaml
  openstack-helm-images-libvirt-suse_15: any of: ^libvirt/build.sh, ^libvirt/Dockerfile.suse_15$, ^libvirt/suse_leap15_virtualization_repo.key$, ^libvirt/suse_sle15_ceph_repo.key$, ^zuul.d/libvirt.yaml
  openstack-helm-images-openstack-loci-newton-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-openstack-loci-ocata-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-openstack-loci-pike-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-openstack-loci-queens-ubuntu_xenial: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-openstack-loci-queens-suse_leap15: any of: ^openstack/loci/.*, zuul.d/openstack-loci.yaml
  openstack-helm-images-vbmc-centos_7: any of: ^vbmc/build.sh, ^vbmc/Dockerfile.centos_7$, ^zuul.d/vbmc.yaml
